<div id="backdoorListWrap">
  <ul class="backdoorList">
    <li><span class="se_decide btn b_white nativeReload">リロード</span></li>
    <!-- <li><span class="se_decide btn b_white reloadBtn" data-href="#/MyPage">リロード</span></li> -->
    <li><span class="se_decide btn b_white linkBtn" data-href="#/Backdoor">アイテム・ギフト・カード付与</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorEpLv">エピソードLvアップ</span></li>
    <li><span class="se_decide btn b_blue linkBtn short" data-href="#/SelectStoryTest">ストーリーテスト</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorLive2d">Live2dテスト</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/SoundTest">サウンドテスト</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/TipsTest">Tipsテスト</span></li>
    <li><span class="se_decide btn b_white reloadBtn short" data-href="#/TopPage">トップページ</span></li>
    <li><span class="se_decide btn b_white reloadBtn short" data-href="#/Maintenance">メンテナンスページ</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/NewVersionRecommend">バージョンアップページ</span></li>
    <li><span class="se_decide btn b_purple chapterClearTest short" data-target="firstChapter">１部一括クリア</span></li>
    <li><span class="se_decide btn b_purple chapter2ndClearTest short">２部11章一括クリア</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorQuestBattle">クエストDEBUG</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignSumoTop">相撲TOP</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/StyleTemplate">汎用スタイル</span></li>
    <li><span id="localStorageClear" class="se_decide btn b_white short">localstorageクリア</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/NativeSandBox">NativeSandBox</span></li>
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/EventAprilFoolTop">エイプリルフール</span></li> -->
    <li><span id="regAccRepairReset" class="se_decide btn b_green short">恒常踏破回復リセット</span></li>
    <!-- <li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignSummerMissionTop">サマーキャンペーンTOP</span></li> -->
    <!-- <li><span class="se_decide btn b_green linkBtn short" data-href="#/RegularEventPatrolTop">遠征TOP</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn short" data-href="#/SubSecondTest">サブ2部テスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn short" data-href="#/DeleteDataTest">リソース削減テスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn short" data-href="#/SdCharaTest">ミニキャラ確認テスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn short" data-href="#/EffectTest">エフェクトテスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn short" data-href="#/NewYearLogin">おみくじ</span></li> -->
    <!-- <li><span class="se_decide btn b_green linkBtn short" data-href="#/EventDailyTowerTop/endlesschallenge">百禍M→タワイべ</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/PieceArchive">倉庫テスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/DoubleUnitTest">Live2D2体表示テスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/CampaignGachaLineUp">2周年キャンペーンページ</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/EventRaidTop">レイドイベントTOP</span></li> -->
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/VideoTest">ブラウザ動画再生テスト</span></li>
    <li><span class="se_decide btn b_green tweetTest short">TweetTest</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/ShopReworkTest">新ショップモック</span></li>
    <!-- <li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignQuizTop">クイズキャンペーン</span></li> -->
    <li><span class="se_decide btn b_green titlePopup short">称号変更POP</span></li>
    <li><span class="se_decide btn b_white short" id="startMirrorBattle">理違いバトル開始</span></li>
    <li><span class="se_decide btn b_white short" id="mirrorBattleRetry">理違いバトル再挑戦</span></li>
    <li><span class="se_decide btn b_white short" id="getPurchaseStatus">MS購入状況確認</span></li>
    <li><span class="se_decide btn b_white short" id="commonStoryTest">ストーリーテスト</span></li>
    <li><span class="se_decide btn b_white short" id="setUserIdTest">ユーザーID送信テスト</span></li>
    <!-- <li><span id="EventAccomplishDebugModeNormal" class="se_decide btn b_white">踏破ノーマルデバッグ</span></li>
		<li><span id="EventAccomplishDebugModeChallenge" class="se_decide btn b_white">踏破チャレンジデバッグ</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/RealGachaTop">AnimeJapan2018 リアルガチャ</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/RaidAnimationTest">シングルレイドアニメテスト</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/EventDungeonTop">ダンジョンTOP</span></li>
		<li><span id="EventDungeonMapTest" class="se_decide btn b_white">ダンジョンマップデバッグ</span></li> -->
    <!-- <li><span class="se_decide btn b_white reloadBtn" data-href="#/CampaignBoxGachaTop">ボックスガチャページ</span></li> -->
    <!-- <li><span class="se_decide btn b_white fullVoiceTest">イベントストーリーDLテスト</span></li> -->
    <!-- <li><span class="btn b_white linkBtn" data-href="#/ScrollTest">スクロールテスト</span></li> -->
    <li><span data-opid="OP020" class="se_decide prologueTestBtn btn b_white">プロローグ確認(ADV①から)</span></li>
    <li><span data-opid="OP030" class="se_decide prologueTestBtn btn b_white">プロローグ確認(クエスト①から)</span></li>
    <li><span data-opid="OP040" class="se_decide prologueTestBtn btn b_white">プロローグ確認(ADV②から)</span></li>
    <li><span data-opid="OP050" class="se_decide prologueTestBtn btn b_white">プロローグ確認(クエスト②から)</span></li>
    <li><span data-opid="OP060" class="se_decide prologueTestBtn btn b_white">プロローグ確認(ADV③から)</span></li>
    <li><span data-opid="OP070" class="se_decide prologueTestBtn btn b_white">プロローグ確認(クエスト③から)</span></li>
    <li><span data-opid="OP080" class="se_decide prologueTestBtn btn b_white">プロローグ確認(ADV④から)</span></li>
    <!-- <li><span id="seachable" class="se_decide btn b_white">ユーザー検索サーバに登録</span></li> -->
    <!-- <li><span id="backdoorTutorial" class="se_decide btn b_white">チュートリアル</span></li>
		<li><span id="backdoorTutorialComp" class="se_decide btn b_white">チュートリアル完了</span></li>
		<li><span id="backdoorTutorialReset" class="btn b_white">チュートリアル初期化</span></li> -->
    <!-- <li><span id="removeAsset" class="se_decide btn b_white">ファイル削除</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/BackdoorQuestList">壊れるので押さないで</span></li> -->
    <!-- <li><span class="se_decide btn b_white linkBtn" data-href="#/CardStatusChecker">カードステータス</span></li> -->
    <!-- <li><span class="btn b_pink errorIdTestBtn">SNS USER IDエラーテスト</span></li> -->
    <li><span class="se_decide btn b_pink errorTestBtn">サーバーエラーテスト</span></li>
    <li><span class="se_decide btn b_pink randomError">ランダムサーバーエラーテスト</span></li>
    <!-- <li><span class="btn b_pink linkBtn" data-href="#/Ban">アカウント停止ページ(一方通行)</span></li> -->
    <!-- <li><span id="localStorageSave"  class="se_decide btn b_white">localstorage保存</span></li> -->
    <!-- <li><span id="localStorageGet"   class="se_decide btn b_white">localstorage取得</span></li> -->
    <!-- <li><span id="chatTestBtn" class="btn b_white">チャットテスト</span></li> -->
  </ul>
</div>
<script type="text/template" id="errorTestPop"> エラーコードを入力。<br><br>
	<input id="errorCode" class="commonFrame3" readonly="readonly" type="text" value="" style="width: 600px;">
</script>
<script type="text/template" id="groupNameChangePop"> ツイートリンクを入力。<br><br>
	<input id="changeName" class="commonFrame3" readonly="readonly" type="text" value="" style="width: 600px;">
</script>
<script id="titlePopupTemp" type="text/template"> <style type='text/css'>
	.titleList {
		border: 2px solid #a67d49;
		border-radius: 10px;
		text-align: left;
		padding: 15px;
	}
	.titleList.ver1 img {
		margin: 3px 2px;

	}
	.titleList.ver2 img {
		margin: 3px 2px;
		width: 166px;
	}
</style>
	<div class="titleList ver1">
		<img src="/magica/resource/image_web/title/title_6200401.png" />
		<img src="/magica/resource/image_web/title/title_6200402.png" />
		<img src="/magica/resource/image_web/title/title_6200403.png" />
		<img src="/magica/resource/image_web/title/title_6200404.png" />
		<img src="/magica/resource/image_web/title/title_6200405.png" />
		<img src="/magica/resource/image_web/title/title_6200406.png" />
		<img src="/magica/resource/image_web/title/title_6200407.png" />
		<img src="/magica/resource/image_web/title/title_6200408.png" />
		<img src="/magica/resource/image_web/title/title_6200409.png" />
		<img src="/magica/resource/image_web/title/title_6200410.png" />
		<img src="/magica/resource/image_web/title/title_6200411.png" />
	</div>
	<div class="titleList ver2">
		<img src="/magica/resource/image_web/title/title_6200401.png" />
		<img src="/magica/resource/image_web/title/title_6200402.png" />
		<img src="/magica/resource/image_web/title/title_6200403.png" />
		<img src="/magica/resource/image_web/title/title_6200404.png" />
		<img src="/magica/resource/image_web/title/title_6200405.png" />
		<img src="/magica/resource/image_web/title/title_6200406.png" />
		<img src="/magica/resource/image_web/title/title_6200407.png" />
		<img src="/magica/resource/image_web/title/title_6200408.png" />
		<img src="/magica/resource/image_web/title/title_6200409.png" />
		<img src="/magica/resource/image_web/title/title_6200410.png" />
		<img src="/magica/resource/image_web/title/title_6200411.png" />
	</div>
</script>
<script type="text/template" id="tutorialPop"> <style type='text/css'>
	.selectWrap {
		width: 300px;
		height: 36px;
		position: relative;
    margin: 0 auto;
	}

	select {
		width: 100%;
		height: 100%;
		padding-left: 20px;
		background-color: #ffffff;

		position: relative;
		text-align: center;

		border: 2px solid #b28750;
		border-radius: 5px;

		-webkit-appearance: none;
	}
</style>

<div id="TutorialPopup">
	<div class="selectWrap">
		<select id="tutorialSelect">
			<option selected="selected" value="TU999">完了（TU999）</option>
			<option value="TU010">バトル①（TU010）</option>
			<option value="TU110">バトル②（TU010）</option>
			<option value="TU520">ガチャ（TU520）</option>
			<option value="TU550">編成（TU550）</option>
		</select>
	</div>
</div>
</script>
