<div id="Backdoor" class="itemList"> <% var arrAttribute = ["ALL","FIRE","WATER","TIMBER","LIGHT","DARK","VOID"]; %> <div class="commonFrame2 tabWrap">
    <div class="hiddenWrap" id="tabScroll">
      <ul id="btns" class="common_tab t_pink">
        <li class="tabBtn current" data-tab="item">アイテム</li>
        <li class="tabBtn" data-tab="gacha">ガチャ</li>
        <li class="tabBtn" data-tab="bg">背景</li>
        <li class="tabBtn" data-tab="gift">ギフト</li>
        <li class="tabBtn" data-tab="chara">魔法少女</li>
        <li class="tabBtn" data-tab="memoria">メモリア</li>
        <li class="tabBtn" data-tab="set">便利なセット</li>
        <li class="tabBtn" data-tab="rewardCode">報酬コード入力</li>
      </ul>
    </div>
  </div>
  <div id="memoriaControlWrap" class="commonFrame2 controlWrap">
    <div class="scrollBtn">
      <ul class="common_tab t_gold">
        <li class="TE" data-id="1001"><span>最下部</span></li> <% var arrTarget = [1200,1400,1600]; _.each(arrTarget,function(value) { %> <li class="TE" data-id="<%= value %>"><span><%= value %></span></li> <% }) %> <li class="TE" data-id="<%= model.pieceList[0].pieceId %>"><span>最上部</span></li>
      </ul>
    </div>
    <input id="memoriaScrollInput" class="commonFrame3" type="number" placeholder="メモリアID">
    <span id="memoriaScrollBtn" class="sb_gold_03 TE">検索</span>
  </div>
  <div id="outerWrap">
    <div id="itemWrap" class="itemWrap wrap show">
      <span class="showAllBtn btn b_pink TE" data-id="item">全表示</span>
    </div>
    <div id="gachaWrap" class="gachaWrap wrap">
    </div>
    <div id="bgWrap" class="bgWrap wrap">
    </div>
    <div id="giftWrap" class="giftWrap wrap ALL">
      <div class="filterBtn">
        <ul class="common_tab t_gold"> <% _.each(arrAttribute,function(att) { %> <% if (att != "ALL") { %> <li class="" data-att=<%= att %>><img src="/magica/resource/image_web/common/chara/att_<%= att.toLowerCase() %>_f.png"></li> <% } else { %> <li class=" current" data-att="ALL">ALL</li> <% } %> <% }) %> </ul>
      </div>
      <div class="listItem commonFrame4" data-att="ALL">
        <p class="name">全素材 × 100</p>
        <span class="getBtn btn sb_gold_01">受取り</span>
      </div>
      <div class="listItem commonFrame4" data-att="ALL">
        <p class="name">精神強化素材 × 999</p>
        <span class="getEnhancementGiftBtn btn sb_gold_01">受取り</span>
      </div>
      <span class="showAllBtn btn b_pink TE" data-id="gift">全表示</span>
    </div> <% var initCharaAtt = "LIGHT"; %> <div id="charaWrap" class="charaWrap wrap <%= initCharaAtt %>">
      <div class="filterBtn">
        <ul class="common_tab t_gold"> <% _.each(arrAttribute,function(att) { %> <% if (att != "ALL") { %> <li class="<% if (att == initCharaAtt){ %>current<% } %>" data-att=<%= att %>><img src="/magica/resource/image_web/common/chara/att_<%= att.toLowerCase() %>_f.png"></li> <% } else { %> <li class="" data-att="ALL">ALL</li> <% } %> <% }) %> </ul>
      </div> <% _.each(model.charaList, function(model,index){  %> <div class="listItem commonFrame4 <%= model.attributeId %>">
        <p class="name">【<%= model.id %>】<%= model.title ? model.defaultCard.cardName + " " + model.title : model.defaultCard.cardName %></p>
        <div class="userCharaIcon"> <% att = "att_" + model.attributeId.toLowerCase() %> <% star = "star_" + model.defaultCard.rank.toLowerCase() %> <% frame = "frame_" + model.defaultCard.rank.toLowerCase() %> <% bg = "bg_" + model.attributeId.toLowerCase() %> <span class="att" data-nativebgkey="<%= att %>" data-src="resource/image_native/card/frame/<%= att %>.png"></span>
          <span class="star" data-nativebgkey="<%= star %>" data-src="resource/image_native/card/frame/<%= star %>.png"></span>
          <span class="rank" data-nativebgkey="<%= frame %>" data-src="resource/image_native/card/frame/<%= frame %>.png"></span>
          <img data-nativeimgkey="card_<%= model.defaultCardId %>_f" data-src='resource/image_native/card/image/card_<%= model.defaultCardId %>_f.png'>
          <span class="bg" data-nativebgkey="<%= bg %>" data-src="resource/image_native/card/frame/<%= bg %>.png"></span>
        </div>
        <span class="getBtn btn sb_gold_01" data-id="<%= model.defaultCardId %>">受取り</span>
      </div> <% });%>
    </div>
    <div id="memoriaWrap" class="memoriaWrap wrap">
      <span class="showAllBtn sb_pink TE">全表示</span>
    </div>
    <div id="setWrap" class="setWrap wrap">
      <div class="listItem commonFrame4 <%= model.attributeId%>">
        <p class="name">全てが手に入る</p>
        <span class="set01GetBtn btn sb_gold_01">受取り</span>
      </div>
      <div class="listItem commonFrame4 <%= model.attributeId%>">
        <p class="name">メモリア以外が手に入る</p>
        <span class="set02GetBtn btn sb_gold_01">受取り</span>
      </div>
      <div class="listItem commonFrame4 <%= model.attributeId%>">
        <p class="name">強化アイテム一式</p>
        <span class="setComposeBtn btn sb_gold_01">受取り</span>
      </div>
      <div class="listItem commonFrame4 <%= model.attributeId%>">
        <p class="name">全ステッカーが手に入る</p>
        <span class="setStickerGetBtn btn sb_gold_01">受取り</span>
      </div> <% _.each(model.eventList, function(model,index){  %> <div class="listItem commonFrame4">
        <p class="name">イベント<%= model.eventId %>のセット<br>※背景、ステッカーは含まれない</p>
        <span class="setEventGetBtn btn sb_gold_01" data-id="<%= model.eventId %>">受取り</span>
      </div> <% });%>
    </div>
    <div id="rewardCodeWrap" class="setWrap wrap">
      <input id="rewardGetInput" class="commonFrame3" type="text" placeholder="基本使用禁止">
      <div id='rewardInputClearBtn' class='mb_pink TE se_decide'><span class='b_screen'></span>クリア</div>
      <div id='rewardInputDelete1Btn' class='mb_pink TE se_decide'><span class='b_screen'></span>１字削除</div>
      <div id='rewardGetBtn' class='mb_white TE se_decide'><span class='b_screen'></span>報酬付与</div>
      <p id="rewardCaution">例)　FORMATION_SHEET_201、　LIVE2D_1002_02、　DOPPEL_100100</p>
      <div id="keyPadWrap" class="">
        <ul id="keyTypeList">
          <li class="rewardInputBtn mb_white TE" data-text="FORMATION_SHEET_" data-clear="true">フォーメーション</li>
          <li class="rewardInputBtn mb_white TE" data-text="LIVE2D_" data-clear="true">Live2D</li>
          <li class="rewardInputBtn mb_white TE" data-text="DOPPEL_" data-clear="true">ドッペル</li>
        </ul>
        <ul id="keyNumList"> <% for(var i=1; i<10; i++) { %> <li class="rewardInputBtn mb_white TE" data-text="<%= i %>"><%= i %></li> <% } %> <li class="rewardInputBtn mb_white TE" data-text="0">0</li>
          <li class="rewardInputBtn mb_white TE" data-text="00">00</li>
          <li class="rewardInputBtn mb_white TE" data-text="000">000</li>
          <li class="rewardInputBtn mb_white TE" data-text="_">_</li>
          <li class="rewardInputBtn mb_white TE" data-text="-">-</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="itemParts"> <%='<% if(model.itemCode.indexOf("HOME_") == -1) { %\>'%>
		<p class="name"><%='<%= model.name %\>'%> × <span class="num"><%='<%= model.num ? model.num : 99 %\>'%></span></p>
		<p style="font-size: 13px;">（所持数：<%='<%= model.quantityText %\>'%>）</p>
		<p class="code"><%='<%= model.itemCode %\>'%></p>
		<span class="specifyBtn sb_pink TE" data-name="<%='<%= model.name %\>'%>" data-id="<%='<%= model.itemCode %\>'%>">個数指定</span>
		<span class="getBtn btn sb_gold_01 TE" data-id="<%='<%= model.itemCode %\>'%>">受取り</span>
	<%='<% } else { %\>'%>
		<p class="name"><%='<%= model.name %\>'%></p>
		<p class="code"><%='<%= model.itemCode %\>'%></p>
		<span class="getBtn btn sb_gold_01" data-id="BACKGROUND" data-itemcode="<%='<%= model.itemCode %\>'%>">受取り</span>
	<%='<% } %\>'%>
</script>
<script type="text/template" id="giftParts"> <p class="name">【<%='<%= model.id %\>'%>】<%='<%= model.name %\>'%> × 99</p>
	<%='<% if (model.attributeId) { %\>'%><p>attribute:<%='<%= model.attributeId %\>'%></p><%='<% } %\>'%>
	<span class="getBtn btn sb_gold_01" data-id="<%='<%= model.id %\>'%>">受取り</span>
</script>
<script type="text/template" id="pieceParts"> <p class="name">【<%='<%= model.pieceId %\>'%>】</p>
	<img class="memoriaImg" src="/magica/resource/image_web/memoria/memoria_<%='<%= model.pieceId %\>'%>_s.png" />

	<span class="getBtn btn sb_gold_01" data-id="<%='<%= model.pieceId %\>'%>">受取り</span>
	<span class="getMaxBtn btn sb_gold_01" data-id="<%='<%= model.pieceId %\>'%>">MAXPIECE</span>
</script>
<script type="text/template" id="selectNumPopParts"> <p>
		<input type="text" id="inputNum" class="commonInput" placeholder="個数を入力してください" readonly="readonly" />
		<span id="inputClearBtn" class="inputOtherBtn mb_pink TE" data-text="00">クリア</span>
		<span id="inputDelete1Btn" class="inputOtherBtn mb_pink TE" data-text="00">1字削除</span>
	</p>

	<ul id="keyList">
	<% for(var i=1; i<10; i++) { %>
	<li class="inputTextBtn mb_white TE" data-text="<%= i %>"><%= i %></li>
	<% } %>

	<li class="inputTextBtn mb_white TE" data-text="0">0</li>
	<li class="inputTextBtn mb_white TE" data-text="00">00</li>
	<li class="inputTextBtn mb_white TE" data-text="000">000</li>
	</ul>
</script>
