<div class="CardStatusChecker">
  <h1>CardStatusChecker</h1>
  <div style="position:absolute;top:80px;left:20px;">所持カード<select id="hasCard" style="color:#333;text-shadow:none;"></select></div>
  <div style="position:absolute;top:120px;left:20px"> カードステータス<br>
    <span id="levelDown">＜</span>&nbsp;Lv.<span id="nowLevel">1</span>&nbsp;<span id="levelUp">＞</span>&nbsp;&nbsp;<span id="maxBtn">MAX</span><br>
    <span id="allStatus">AllStatus(Console)</span><br><br> リビジョン:<span id="revDown">＜</span>&nbsp;Rev.<span id="nowRev">0</span>&nbsp;<span id="revUp">＞</span><br><br> 限界突破回数:4(強制)<br>
    <span id="cardHP">0</span><br>
    <span id="cardATK">0</span><br>
    <span id="cardDEF">0</span>
  </div>
</div>
