<div id="ConfigTop">
  <div id="getBtn" class="btn b_pink se_decide TE">GET（cmd222,NCB）</div>
  <div id="get2Btn" class="btn b_pink se_decide TE">GET（cmd222,CCB）</div>
  <div class="setBtn btn b_white se_decide TE" data-voice=0 data-movie=0>SET（cmd223）voice=0 movie=0</div>
  <div class="setBtn btn b_white se_decide TE" data-voice=1 data-movie=0>SET（cmd223）voice=1 movie=0</div>
  <div class="setBtn btn b_white se_decide TE" data-voice=0 data-movie=1>SET（cmd223）voice=0 movie=1</div>
  <div class="setBtn btn b_white se_decide TE" data-voice=1 data-movie=1>SET（cmd223）voice=1 movie=1</div>
</div>
