<div id="EffectTest">
  <div id="RegularEventGroupBattleBoss" class="hide">
    <div id="battleInfoWrap" class="battleInfoWrap"></div>
    <div id="gpInfoWrap"></div>
    <div id="footerWrap"></div>
  </div>
  <div id="miniCharaWrap" class="commonFrame1">
    <h2>エフェクトテスト</h2>
    <ul id="inputWrap">
      <li>file：<input type="text" id="inputName" class="commonInput" placeholder="File名を入力" value="web_regular_battle_ef_01" readonly="readonly" style="width:190px;"></li>
      <li>action：<select id="selectAction" class="commonInput" style="width: 80px;font-size: 12px;"> <% var animeArr = ["ef_attack","ef_hit","ef_go_out","ef_resurrect"]; %> <% _.forEach(animeArr,function(txt){ %> <option value="<%= txt %>"><%= txt %></option> <% }) %> </select></li>
      <li>X：<input type="text" id="inputX" class="commonInput" placeholder="X座標を入力" value="0" readonly="readonly"></li>
      <li>Y：<input type="text" id="inputY" class="commonInput" placeholder="Y座標を入力" value="0" readonly="readonly"></li>
      <li>scale：<input type="text" id="inputScale" class="commonInput" placeholder="拡縮を入力" value="1.0" readonly="readonly"></li>
    </ul>
    <p class="displayBtn mb_pink TE" data-hide="false">表示</p>
    <p class="hideBtn mb_pink TE" data-hide="true">削除</p>
    <p class="groupBattleBtn mb_pink TE">キモチ戦UI</p>
  </div>
</div>
