<div id="LastBattleEnemyResultTest">
  <div id="touchScreen"></div>
  <div class="rippleObjWrap">
    <div class="rippleObj_1"></div>
    <div class="rippleObj_2"></div>
    <div class="rippleObj_3"></div>
    <div class="rippleObj_4"></div>
    <div class="rippleObj_5"></div>
  </div>
  <div class="resultTitleWrap">
    <div class="resultTitle"></div>
    <div class="resultTitleBase"></div>
    <div class="resultTitleDecoLeft"></div>
    <div class="resultTitleDecoRight"></div>
  </div>
  <div class="resultStringWrap">
    <div class="resultString CLEAR"></div>
    <div class="resultStringAdd"></div>
  </div>
  <div class="rewardDPWrap">
    <div class="rewardDPBase"></div>
    <div class="rewardDPBeforeBase"></div>
    <div class="rewardDPBeforeText">獲得DP</div>
    <div class="rewardDPBeforeNum"></div>
    <div class="rewardDPArrow"></div>
    <div class="rewardDPAfterBase"></div>
    <div class="rewardDPAfterText">合計DP</div>
    <div class="rewardDPAfterNum"></div>
  </div>
  <div class="rewardItemWrap">
    <div class="rewardItemInner"> <% for(var i=1; i<=model.rewardItemNum; i++){ %> <div class="rewardItemBox">
        <div class="rewardItemBaseRhombus"></div>
        <div class="rewardItemBaseCircle"></div>
        <div class="rewardItemTitle"></div>
        <div class="rewardItemContent">
          <img src="/magica/resource/image_web/item/event/event_accomplish_1085_exchange_1.png">
          <span class="rewardItemNum ts_gold">×99</span>
        </div>
      </div> <% } %> </div>
  </div>
  <div id="retryBtn" class="retryBtn se_decide TE"></div>
  <div class="touch_screen"></div>
</div>
