<div id="MailSendTest">
  <div class="commonFrame1 sendMailSec">
    <h2>メール送信テスト</h2>
    <div class="innerSec">
      <p>メールアドレス入力</p><br>
      <input id="inputMail" class="commonFrame3 inputSec" type="text" value=""><br><br>
      <div class="btn b_white TE sendMailBtn"> 送信 </div>
    </div>
  </div>
  <div class="commonFrame1 sendAuthNumSec">
    <h2>認証番号テスト</h2>
    <div class="innerSec">
      <p>認証番号入力（数字のみ）</p><br>
      <input id="inputAuthNum" class="commonFrame3 inputSec" type="number" value=""><br><br>
      <div class="btn b_white TE sendAuthNumBtn"> 送信 </div>
    </div>
  </div>
</div>
