<div id="NativeSandBox">
  <p><input type="text" id="inputTest" class="commonInput" placeholder="何でも入力" readonly="readonly"></p>
  <ul id="btnList">
    <li class="cmdBtn mb_white TE se_decide" data-cmd="40">CMD 40</li>
    <li class="cmdBtn mb_white TE se_decide" data-cmd="41">CMD 41</li>
    <li class="cmdBtn mb_white TE se_decide" data-cmd="64">CMD 64</li>
    <li class="cmdBtn mb_white TE se_decide" data-cmd="275">CMD 275</li>
  </ul>
</div>
<script id="popup64Temp" type="text/template"> <div class="">
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1693' data-src='resource/scenario/img/62640_storymission_san/memoria_1693.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1178' data-src='resource/scenario/img/31008_alina_story/memoria_1178.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1179' data-src='resource/scenario/img/31008_alina_story/memoria_1179.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1180' data-src='resource/scenario/img/31012_karin_story/31012_yachiyo_kaede.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1181' data-src='resource/scenario/img/31012_karin_story/31012_kaede.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1182' data-src='resource/scenario/img/31012_karin_story/31012_masara.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1183' data-src='resource/scenario/img/31012_karin_story/31012_nanaka.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1184' data-src='resource/scenario/img/31012_karin_story/31012_yachiyo.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1185' data-src='resource/scenario/img/31014_nemu_story/memoria_1319.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1186' data-src='resource/scenario/img/31015_ui_story/memoria_1338.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1340' data-src='resource/scenario/img/31015_ui_story/memoria_1340.jpg'>

	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1284' data-src='resource/scenario/img/31017_mitama_story/memoria_1198.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1285' data-src='resource/scenario/img/31017_mitama_story/memoria_1199.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1286' data-src='resource/scenario/img/31017_mitama_story/memoria_1200.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1240' data-src='resource/scenario/img/31017_mitama_story/31017_puellamag.jpg'>

	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1384' data-src='resource/scenario/img/31023_ao_story/ao_boardgame.png'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1385' data-src='resource/scenario/img/31024_juri_story/memoria_1586.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1386' data-src='resource/scenario/img/31024_juri_story/memoria_1587.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1340' data-src='resource/scenario/img/31024_juri_story/memoria_1588.jpg'>

	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1684' data-src='resource/scenario/img/31025_sizuka_story/memoria_1541.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1685' data-src='resource/scenario/img/31029_sigure_story/memoria_1434.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1686' data-src='resource/scenario/img/31030_hagumu_story/memoria_1465.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1640' data-src='resource/scenario/img/31031_san_story/memoria_1691.jpg'>
	<img class="popupCloseBtn se_cancel" data-nativeimgkey='scenario_1640' data-src='resource/scenario/img/31031_san_story/memoria_1692.jpg'>
</script>
