<div id="QuestStub">
  <div id="btnWrap" class="commonFrame1">
    <h2>Quest Stub</h2>
    <div class="btn b_pink resultBtn" data-result="SUCCESSFUL" data-skip="false">SUCCESSFUL</div>
    <div class="btn b_blue resultBtn" data-result="FAILED" data-skip="false">FAILED</div>
    <div class="btn b_white resultBtn" data-result="SUCCESSFUL" data-skip="true">QuestResult SKIP</div>
  </div>
  <div id='prmWrap' class="commonFrame1">
    <h2>戦闘情報 書き換え</h2>
    <div id='hiddenWrap'>
      <div class='scrollInner'>
        <div class="flexBox">
          <div class='wrap flexBox'>
            <p class='pointFrame'>コンティニュー回数</p>
            <div class='selectWrap'>
              <input name='continueNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>クリアTURN数</p>
            <div class='selectWrap'>
              <input name='totalTurn' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>クリア時間（秒）</p>
            <div class='selectWrap'>
              <input name='clearTime' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>倒した敵の体数</p>
            <div class='selectWrap'>
              <input name='killNum' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>与えた総ダメージ数</p>
            <div class='selectWrap'>
              <input name='totalDamage' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>最大ダメージ数</p>
            <div class='selectWrap'>
              <input name='mostDamage' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>マギア使用回数</p>
            <div class='selectWrap'>
              <input name='magiaNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>ドッペル使用回数</p>
            <div class='selectWrap'>
              <input name='doppelNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>戦闘不能回数</p>
            <div class='selectWrap'>
              <input name='deadNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>チェイン回数</p>
            <div class='selectWrap'>
              <input name='chargeNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>スキル発動回数</p>
            <div class='selectWrap'>
              <input name='skillNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>コネクト発動回数</p>
            <div class='selectWrap'>
              <input name='connectNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>アクセルＤ選択数</p>
            <div class='selectWrap'>
              <input name='diskAcceleNum' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>ブラストＤ選択数</p>
            <div class='selectWrap'>
              <input name='diskBlastNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>チャージＤ選択数</p>
            <div class='selectWrap'>
              <input name='diskChargeNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>残りHP【%】hpRate</p>
            <div class='selectWrap'>
              <input name='rateHp' class='commonInput' type="number" value='100'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>引き継ぎチャージ数</p>
            <div class='selectWrap'>
              <input name='stackedChargeNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>終了時のMP（平均）</p>
            <div class='selectWrap'>
              <input name='mpRemain' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>とどめカードID</p>
            <div class='selectWrap'>
              <input name='lastAttackCardId' class='commonInput' type="number" value='10011'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>残りHP hpRemain</p>
            <div class='selectWrap'>
              <input name='hpRemain' class='commonInput' type="text" value='100,100,100,100,100'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
