<div id="RaidAnimationTest">
  <h1>RaidAnimTest</h1>
  <span class="btn animStart TE b_white"><span class="b_screen"></span>アニメーション開始(レイド)</span><br>
  <span class="btn doppelAnimStart TE b_white"><span class="b_screen"></span>アニメーション開始(ドッペル)</span><br>
</div>
<script type="text/template" id="raidAnimationTemp"> <div class="raidAnimationDom">
		<div class="animDoms">
			<div class="raidStar01_1"></div>
			<div class="raidStar01_2 fadeAnim"></div>
			<div class="raidStar02"></div>
			<div class="raidTx01 fadeAnim"></div>
			<div class="raidTx02 fadeAnim"></div>
			<div class="raidTx03 fadeAnim"></div>
			<div class="raidTx04 fadeAnim"></div>
			<div class="raidFlag01 fadeAnim"></div>
			<div class="raidFlag02 fadeAnim"></div>
			<div class="raidCircle01"></div>
			<div class="raidCircle02"></div>
			<div class="raidAnimBg fadeAnim"></div>
		</div>
		<div id="missionClearBg"></div>
		<div id="missionClearMaskBg"></div>
	</div>
</script>
<script type="text/template" id="doppelMissionAnimTemp"> <div class="doppelMissionAnimationDom">
		<div class="animDoms">
			<div class="animTitle"></div>
			<div class="animComplete"></div>
			<div class="animMarks">
				<div class="animMark"></div>
				<div class="animMarkBase"></div>
			</div>
		</div>
		<div id="missionClearBg"></div>
		<div id="missionClearMaskBg"></div>
	</div>
</script>
