<div id="StyleTemplate">
  <div class="scrollInner">
    <div id="comonBtnList" class="commonFrame1">
      <h2>【commonFrame1＜h2＞】</h2>
      <div class="commonFrame2" style="width: 310px; height: 350px;">
        <h3>Sサイズボタン</h3>
        <p class="sb_gold_01"> sb_gold_01 </p>
        <p class="sb_gold_01 TE">
          <span class="b_screen"></span> sb_gold_01+TE
        </p>
        <p class="sb_gold_02"> sb_gold_02 </p>
        <p class="sb_gold_02 TE">
          <span class="b_screen"></span> sb_gold_02+TE
        </p>
        <p class="sb_gold_02 TE on">
          <span class="b_screen"></span> sb_gold_02+TE+on
        </p>
        <p class="sb_gold_02 TE filterOn">
          <span class="b_screen"></span> sb_gold_02+TE+filterOn
        </p>
        <p class="sb_gold_03"> sb_gold_03 </p>
        <p class="sb_gold_03 TE">
          <span class="b_screen"></span> sb_gold_03+TE
        </p>
        <p class="sb_pink"> sb_pink </p>
        <p class="sb_pink TE">
          <span class="b_screen"></span> sb_pink+TE
        </p>
        <p class="sb_pink01">
          <span class="b_screen"></span> sb_pink01
        </p>
        <p class="sb_pink01 TE">
          <span class="b_screen"></span> sb_pink01+TE
        </p>
      </div>
      <div class="commonFrame2" style="width: 645px;">
        <h3>色ボタン(+btn)</h3>
        <p class="btn b_pink TE">
          <span class="b_screen"></span> b_pink+TE
        </p>
        <p class="btn b_white TE">
          <span class="b_screen"></span> b_white+TE
        </p>
        <p class="btn b_pale TE">
          <span class="b_screen"></span> b_pale+TE
        </p>
        <p class="btn b_blue TE">
          <span class="b_screen"></span> b_blue+TE
        </p>
        <p class="btn b_green TE">
          <span class="b_screen"></span> b_green+TE
        </p>
        <p class="btn b_purple TE">
          <span class="b_screen"></span> b_purple+TE
        </p>
        <p class="btn b_pink off">
          <span class="b_screen"></span> b_pink+off
        </p>
        <p class="btn b_white off">
          <span class="b_screen"></span> b_white+off
        </p>
        <p class="btn b_pale off">
          <span class="b_screen"></span> b_pale+off
        </p>
        <p class="btn b_blue off">
          <span class="b_screen"></span> b_blue+off
        </p>
        <p class="btn b_green off">
          <span class="b_screen"></span> b_green+off
        </p>
        <p class="btn b_purple off">
          <span class="b_screen"></span> b_purple+off
        </p>
      </div>
      <div class="commonFrame2" style="width: 580px;">
        <h3>Mサイズボタン</h3>
        <p class="mb_pink"> mb_pink </p>
        <p class="mb_pink TE">
          <span class="b_screen"></span> mb_pink+TE
        </p>
        <p class="mb_pink off"> mb_pink+off </p>
        <p class="mb_pink selected"> mb_pink+selected </p>
        <p class="mb_white"> mb_white </p>
        <p class="mb_white TE">
          <span class="b_screen"></span> mb_white+TE
        </p>
        <p class="mb_white off"> mb_white+off </p>
        <p class="mb_white selected"> mb_white+selected </p>
      </div>
      <div class="commonFrame2" style="width: 415px;">
        <h3>ポップアップ</h3>
        <p class="mb_white popupBtn TE" data-type="typeA">
          <span class="b_screen"></span> typeA
        </p>
        <p class="mb_white popupBtn TE" data-type="typeB">
          <span class="b_screen"></span> typeB
        </p>
        <p class="mb_white popupBtn TE" data-type="typeC">
          <span class="b_screen"></span> typeC
        </p>
        <p class="mb_white popupBtn TE" data-type="typeD">
          <span class="b_screen"></span> typeD
        </p>
        <p class="mb_white popupBtn TE" data-type="typeE">
          <span class="b_screen"></span> typeE
        </p>
        <p class="mb_white popupBtn TE" data-simple="true">
          <span class="b_screen"></span> simpleAppear
        </p>
        <p class="mb_pink tutPopupBtn TE" data-type="tutorial" data-img="navi_011,navi_012_b">
          <span class="b_screen"></span> Tutorial
        </p>
        <p class="mb_pink tutPopupBtn TE" data-type="event" data-event-id="1024" data-event-type="arenaranking" data-img="navi_01,navi_02,navi_03">
          <span class="b_screen"></span> Event Tutorial
        </p>
      </div>
    </div>
    <div class="commonFrame3" style="width: 585px;">
      <h2>【commonFrame3＜h2＞】</h2>
      <h3>【commonFrame3＜h3＞】</h3>
      <div class="common_title_frame">タイトル</div>
      <dl class="common_dl">
        <dt>定義リスト</dt>
        <dd>あああああ</dd>
      </dl>
      <p class="pointFrame">文字下地</p>
      <div class="common_line lc_gold" style="width: 60%;"></div>
      <div class="common_line lc_beige" style="width: 60%;"></div>
    </div>
    <div class="commonFrame4" style="width: 385px;">
      <h3>【commonFrame4＜h3＞】</h3>
      <h3>フォントカラー</h3>
      <p class="c_gold">c_gold</p>
      <p class="c_red">c_red</p>
      <p class="c_purple">c_purple</p>
      <p class="ts_gold">ts_gold</p>
      <p class="c_white" style="background:#000;">c_white ※背景は黒に変わりません</p>
    </div>
    <p class="common_line lc_gold"></p>
    <p>シングルラインタブ</p>
    <ul class="common_tab t_gold">
      <li class="current">タブカレント(テキスト1行)</li>
      <li>タブ</li>
      <li>タブ</li>
    </ul>
    <p class="common_line lc_beige"></p>
    <ul class="common_tab t_pink">
      <li class="current">タブカレント</li>
      <li>タブ</li>
    </ul>
    <p class="common_line lc_gold"></p>
    <p>マルチラインタブ</p>
    <ul class="common_tab t_gold ml_tab">
      <li class="current"><span>マルチラインタブ<br>タブカレント</span></li>
      <li><span>マルチラインタブ</span></li>
    </ul>
    <p class="common_line lc_beige"></p>
    <ul class="common_tab t_green ml_tab">
      <li class="current"><span>マルチラインタブ<br>タブカレント</span></li>
      <li><span>マルチラインタブ(緑はマルチラインのみ)</span></li>
    </ul>
    <p class="common_line lc_gold"></p>
  </div>
</div>
