@charset "UTF-8";

#CampaignQuizTop
{
  width: 1024px;
  height: 100%;
  position: relative;
}

#CampaignQuizTop #helpBtn
{
  width: 100px;
  position: absolute;
  top: 13px;
  right: 276px;
  z-index: 10000;
}

#CampaignQuizTop #helpBtn.hide
{
  display: none;
}

#CampaignQuizTop #nextBlock
{
  width: 1400px;
  height: 768px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_next.png") left center repeat-x, rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: -webkit-calc(50% - 389px);
  left: -webkit-calc(50% - 700px);
  z-index: 1000;
}

#CampaignQuizTop #nextBlock .nextTextImg
{
  width: 144px;
  height: 32px;
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_next.png");
  position: absolute;
  top: -webkit-calc(50% - 16px);
  left: -webkit-calc(50% - 72px);
  -webkit-animation: nextFlash 2s linear 0s infinite normal;
  -webkit-animation-fill-mode: none;
}

#CampaignQuizTop #nextBlock.show
{
  display: block;
}

#CampaignQuizTop #countDown
{
  width: 1400px;
  height: 768px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_next.png") left center repeat-x, rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: -webkit-calc(50% - 389px);
  left: -webkit-calc(50% - 700px);
  z-index: 1000;
}

#CampaignQuizTop #countDown .three,
#CampaignQuizTop #countDown .two,
#CampaignQuizTop #countDown .one,
#CampaignQuizTop #countDown .start
{
  width: 24px;
  height: 32px;
  position: absolute;
  top: -webkit-calc(50% - 16px);
  left: -webkit-calc(50% - 12px);
  display: none;
}

#CampaignQuizTop #countDown .three
{
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_three.png") left center no-repeat;
}

#CampaignQuizTop #countDown .two
{
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_two.png") left center no-repeat;
}

#CampaignQuizTop #countDown .one
{
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_one.png") left center no-repeat;
}

#CampaignQuizTop #countDown .start
{
  width: 178px;
  left: -webkit-calc(50% - 90px);
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_start.png") left center no-repeat;
}

#CampaignQuizTop #countDown .three.on
{
  display: block;
  -webkit-animation: countDownAnim 1s linear 0s 1 normal;
  -webkit-animation-fill-mode: none;
}

#CampaignQuizTop #countDown .two.on
{
  display: block;
  -webkit-animation: countDownAnim 1s linear 0s 1 normal;
  -webkit-animation-fill-mode: none;
}

#CampaignQuizTop #countDown .one.on
{
  display: block;
  -webkit-animation: countDownAnim 1s linear 0s 1 normal;
  -webkit-animation-fill-mode: none;
}

#CampaignQuizTop #countDown .start.on
{
  display: block;
  -webkit-animation: startAnim 1s linear 0s 1 normal;
  -webkit-animation-fill-mode: none;
}

#CampaignQuizTop #countDown.show
{
  display: block;
}

#CampaignQuizTop #finish
{
  width: 1400px;
  height: 768px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_next.png") left center repeat-x, rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: -webkit-calc(50% - 389px);
  left: -webkit-calc(50% - 700px);
  z-index: 1000;
}

#CampaignQuizTop #finish.show
{
  display: block;
}

#CampaignQuizTop #finish .finishText1,
#CampaignQuizTop #finish .finishText2
{
  width: 192px;
  height: 32px;
  position: absolute;
  top: -webkit-calc(50% - 16px);
  left: -webkit-calc(50% - 98px);
  background: url("/magica/resource/image_web/campaign/quiz/common/txt_finish.png") left center no-repeat;
}

#CampaignQuizTop #finish .finishFlash
{
  width: 400px;
  height: 400px;
  background: url("/magica/resource/image_web/campaign/quiz/common/result_star_flash.png") left top no-repeat;
  background-size: 400px 400px;
  position: absolute;
  top: -webkit-calc(50% - 190px);
  left: -webkit-calc(50% - 200px);
  opacity: 0;
  -webkit-animation: flashRoling 5s linear 0s infinite normal, maskVisible 0.5s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#CampaignQuizTop #finish .finishText1
{
  -webkit-animation: finishTextOne 1.5s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
  z-index: 3;
}

#CampaignQuizTop #finish .finishText2
{
  -webkit-animation: finishTextTwo 1.5s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#CampaignQuizTop #charaSerif
{
  width: 448px;
  height: 155px;
  padding: 45px 40px 0 50px;
  background: url("/magica/resource/image_web/page/quest/questBattle/bg_serif.png") left top no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 14px;
  left: 1px;
  font-size: 22px;
  line-height: 1.3;
  -webkit-border-radius: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#CampaignQuizTop #charaSerif.hide
{
  display: none;
}

#CampaignQuizTop #charaSerif .serifFont
{
  width: 358px;
  display: block;
  color: #5a5a5a;
  font-size: 20px;
  line-height: 1.3;
  white-space: normal;
  word-wrap: break-word;
  text-shadow: 0 0 0;
}

#CampaignQuizTop #charaSerif .charaName
{
  width: 208px;
  height: 20px;
  position: absolute;
  top: 29px;
  left: 185px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

#CampaignQuizTop #quizBase
{
  width: 1024px;
  height: 576px;
  position: absolute;
  top: -webkit-calc(50% - 288px);
  left: 0px;
}

#CampaignQuizTop #quizBase .title
{
  width: 428px;
  height: 106px;
  background: url("/magica/resource/image_web/campaign/quiz/common/logo_miraclequiz.png") left top no-repeat;
  position: absolute;
  top: 87px;
  right: 83px;
}

#CampaignQuizTop #quizBase.during .title,
#CampaignQuizTop #quizBase.finish .title
{
  width: 257px;
  height: 64px;
  right: 171px;
  top: 68px;
  background-size: 257px 64px;
}

#CampaignQuizTop #quizBase #selectWrap
{
  width: 534px;
  height: 343px;
  border: 3px solid rgba(143, 192, 248, 0.7);
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 7px;
  right: 30px;
  padding: 7px 7px;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#CampaignQuizTop #quizBase #selectWrap.hide
{
  display: none;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap
{
  width: 167px;
  height: 325px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quizinfo.png") left top no-repeat;
  margin: 0px 3px;
  padding: 2px;
  position: relative;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap.off
{
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quizinfo_off.png") left top no-repeat;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap.off .closedText
{
  width: 100%;
  height: 220px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap.off .difficulty
{
  text-shadow: -1px -1px 1px #666, 1px -1px 1px #666, -1px 1px 1px #666, 1px 1px 1px #666, -1px -1px #666, 1px -1px #666, -1px 1px #666, 1px 1px #666, -1px -1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666, 1px 1px 2px #666, -1px -1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666, 1px 1px 2px #666, -1px -1px 3px #666, 1px -1px 3px #666, -1px 1px 3px #666, 1px 1px 3px #666;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap.off .start
{
  pointer-events: none;
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_challenge_off.png") left top no-repeat;
  text-shadow: -1px -1px 1px #666, 1px -1px 1px #666, -1px 1px 1px #666, 1px 1px 1px #666, -1px -1px #666, 1px -1px #666, -1px 1px #666, 1px 1px #666, -1px -1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666, 1px 1px 2px #666, -1px -1px 2px #666, 1px -1px 2px #666, -1px 1px 2px #666, 1px 1px 2px #666, -1px -1px 3px #666, 1px -1px 3px #666, -1px 1px 3px #666, 1px 1px 3px #666;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .difficulty
{
  width: 161px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: -1px -1px 1px #3c5ecd, 1px -1px 1px #3c5ecd, -1px 1px 1px #3c5ecd, 1px 1px 1px #3c5ecd, -1px -1px #3c5ecd, 1px -1px #3c5ecd, -1px 1px #3c5ecd, 1px 1px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 3px #3c5ecd, 1px -1px 3px #3c5ecd, -1px 1px 3px #3c5ecd, 1px 1px 3px #3c5ecd;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .highscoreTitle
{
  width: 155px;
  height: 22px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quizinfo_base.png") left top no-repeat;
  color: #3c5ecd;
  text-align: center;
  margin: 10px auto 3px;
  font-size: 15px;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .correctCountTtl
{
  width: 149px;
  font-size: 14px;
  border-bottom: 2px dashed #3c5ecd;
  padding: 0px 5px;
  margin: 0px auto;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .correctCountNum
{
  width: 149px;
  text-align: right;
  color: #3c5ecd;
  padding: 0 5px;
  margin: 0px auto;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .timeTtl
{
  width: 149px;
  font-size: 14px;
  border-bottom: 2px dashed #3c5ecd;
  padding: 0px 5px;
  margin: 0px auto;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .timeNum
{
  width: 149px;
  text-align: right;
  color: #3c5ecd;
  padding: 0 5px;
  margin: 0px auto;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap
{
  width: 154px;
  height: 95px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward
{
  width: 75px;
  height: 95px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quiz_reward.png") left top no-repeat;
  position: relative;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward .ttlWrap,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward .ttlWrap
{
  height: 32px;
  text-align: center;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward .ttlWrap span,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward .ttlWrap span
{
  font-size: 14px;
  color: #fff;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward .itemWrap,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward .itemWrap
{
  width: 44px;
  height: 44px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward .itemWrap img,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward .itemWrap img
{
  width: 44px;
  height: 44px;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .entryReward .itemWrap.cleared:before,
#CampaignQuizTop #quizBase #selectWrap .difficultWrap .rewardWrap .completeReward .itemWrap.cleared:before
{
  width: 72px;
  height: 72px;
  background: url("/magica/resource/image_web/campaign/quiz/common/icon_clear.png") left top no-repeat;
  content: "";
  position: absolute;
  top: -17px;
  left: -15px;
  z-index: 2;
}

#CampaignQuizTop #quizBase #selectWrap .difficultWrap .start
{
  width: 150px;
  height: 48px;
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_challenge.png") left top no-repeat;
  position: absolute;
  left: 7px;
  bottom: 7px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#CampaignQuizTop #quizBase #quizWrap
{
  width: 628px;
  height: 426px;
  position: absolute;
  bottom: 7px;
  right: 0px;
}

#CampaignQuizTop #quizBase #quizWrap.hide
{
  display: none;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap
{
  width: 628px;
  height: 155px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_question_a.png") left top no-repeat;
  position: relative;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap #quizTtl
{
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-shadow: -1px -1px 1px #3c5ecd, 1px -1px 1px #3c5ecd, -1px 1px 1px #3c5ecd, 1px 1px 1px #3c5ecd, -1px -1px #3c5ecd, 1px -1px #3c5ecd, -1px 1px #3c5ecd, 1px 1px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 3px #3c5ecd, 1px -1px 3px #3c5ecd, -1px 1px 3px #3c5ecd, 1px 1px 3px #3c5ecd;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap #quizBodyWrap
{
  width: 270px;
  height: 68px;
  position: absolute;
  left: 140px;
  bottom: 22px;
  color: #fff;
  word-break: break-all;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap #quizTumb
{
  width: 124px;
  height: 96px;
  position: absolute;
  top: 41px;
  right: 77px;
  border: 2px solid #4769cb;
  background-color: #fff;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap #quizTumb img
{
  max-width: 124px;
  max-height: 96px;
}

#CampaignQuizTop #quizBase #quizWrap .quizMainWrap #quizTumb.none
{
  display: none;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap
{
  width: 540px;
  height: 244px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quiz_2_a.png") left top no-repeat;
  position: absolute;
  bottom: 0px;
  right: 30px;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #diffTtl
{
  width: 453px;
  height: 37px;
  line-height: 37px;
  position: absolute;
  top: -15px;
  left: 42px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quiz_title.png") left top no-repeat;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 1px #3c5ecd, 1px -1px 1px #3c5ecd, -1px 1px 1px #3c5ecd, 1px 1px 1px #3c5ecd, -1px -1px #3c5ecd, 1px -1px #3c5ecd, -1px 1px #3c5ecd, 1px 1px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 3px #3c5ecd, 1px -1px 3px #3c5ecd, -1px 1px 3px #3c5ecd, 1px 1px 3px #3c5ecd;
  z-index: 2;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap .correctCount,
#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #timeWrap
{
  width: 241px;
  height: 31px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_score_base.png") left top no-repeat;
  position: absolute;
  top: 33px;
  color: #3e5ecd;
  text-align: right;
  padding-right: 10px;
  line-height: 31px;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap .correctCount span,
#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #timeWrap span
{
  color: #3e5ecd;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap .correctCount
{
  left: 27px;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap .correctCount #correctNums
{
  font-size: 18px;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap .correctCount:before
{
  height: 31px;
  line-height: 31px;
  content: "正解数";
  position: absolute;
  display: block;
  left: 14px;
  top: 0px;
  color: #5b5b5b;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #timeWrap
{
  right: 27px;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #timeWrap:before
{
  height: 31px;
  line-height: 31px;
  content: "経過時間";
  position: absolute;
  display: block;
  left: 14px;
  top: 0px;
  color: #5b5b5b;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer
{
  width: 492px;
  height: 137px;
  position: absolute;
  top: 94px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn
{
  width: 234px;
  height: 57px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_answer.png") left top no-repeat;
  color: #fff;
  position: relative;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn .effect01,
#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn .effect02
{
  display: none;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.correct .effect01
{
  width: 49px;
  height: 49px;
  background: url("/magica/resource/image_web/campaign/quiz/common/circle.png") left top no-repeat;
  position: absolute;
  top: 4px;
  left: 92px;
  z-index: 3;
  -webkit-animation: correctCircleFirst .5s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.correct .effect02
{
  width: 100px;
  height: 100px;
  background: url("/magica/resource/image_web/campaign/quiz/common/icon_circle.png") left top no-repeat;
  position: absolute;
  top: -20px;
  left: 67px;
  z-index: 4;
  -webkit-animation: correctCircleSecond .4s linear .1s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.correct .maskWrap
{
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_answer_efe.png") left top no-repeat;
  -webkit-animation: maskVisible .3s linear .2s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.wrong .effect01
{
  width: 100px;
  height: 100px;
  background: url("/magica/resource/image_web/campaign/quiz/common/icon_cross.png") left top no-repeat;
  position: absolute;
  top: -20px;
  left: 67px;
  -webkit-animation: wrongAnim .3s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 3;
  opacity: 0;
  display: block;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.wrong .effect02
{
  display: none;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn.wrong .maskWrap
{
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_answer_off.png") left top no-repeat;
  -webkit-animation: maskVisible .2s linear .2s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#CampaignQuizTop #quizBase #quizWrap #quizSelectWrap #selectAnswer .selectAnswerBtn .maskWrap
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 2;
}

#CampaignQuizTop #quizBase #quizResultWrap
{
  width: 540px;
  height: 412px;
  position: absolute;
  bottom: 7px;
  right: 30px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quiz_a.png") left top no-repeat;
}

#CampaignQuizTop #quizBase #quizResultWrap.hide
{
  display: none;
}

#CampaignQuizTop #quizBase #quizResultWrap #resultTtl
{
  width: 453px;
  height: 37px;
  line-height: 37px;
  position: absolute;
  top: -15px;
  left: 42px;
  background: url("/magica/resource/image_web/campaign/quiz/common/bg_quiz_title.png") left top no-repeat;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 1px #3c5ecd, 1px -1px 1px #3c5ecd, -1px 1px 1px #3c5ecd, 1px 1px 1px #3c5ecd, -1px -1px #3c5ecd, 1px -1px #3c5ecd, -1px 1px #3c5ecd, 1px 1px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 2px #3c5ecd, 1px -1px 2px #3c5ecd, -1px 1px 2px #3c5ecd, 1px 1px 2px #3c5ecd, -1px -1px 3px #3c5ecd, 1px -1px 3px #3c5ecd, -1px 1px 3px #3c5ecd, 1px 1px 3px #3c5ecd;
  z-index: 2;
}

#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap,
#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap
{
  width: 204px;
  height: 83px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 31px;
  padding: 3px;
}

#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap .resultMiniTtl,
#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap .resultMiniTtl
{
  width: 100%;
  padding: 2px 10px;
  border-bottom: 2px dashed #3c5ecd;
}

#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap.newRecord:before,
#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap.newRecord:before
{
  width: 84px;
  height: 21px;
  background: url(/magica/resource/image_web/page/quest/quest_state_new.png) left top no-repeat;
  content: "";
  position: absolute;
  top: 5px;
  right: 13px;
}

#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap #correctResult,
#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap #timeResult,
#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap #correctResult,
#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap #timeResult
{
  color: #3c5ecd;
  text-align: right;
  position: absolute;
  bottom: 3px;
  right: 13px;
  font-size: 20px;
}

#CampaignQuizTop #quizBase #quizResultWrap .correctResultWrap
{
  left: 60px;
}

#CampaignQuizTop #quizBase #quizResultWrap .timeResultWrap
{
  right: 60px;
}

#CampaignQuizTop #quizBase #quizResultWrap .tweetText
{
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 116px;
  right: 60px;
  text-align: right;
}

#CampaignQuizTop #quizBase #quizResultWrap #tweetBtn
{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 93px;
  right: 13px;
  background: url("/magica/resource/image_web/campaign/quiz/common/btn_twitter.png") left top no-repeat;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap
{
  width: 369px;
  height: 188px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  right: 86px;
  bottom: 67px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward
{
  width: 140px;
  height: 138px;
  border-radius: 15px;
  background-color: #ac6de2;
  position: absolute;
  bottom: 37px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward p,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward p
{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 1px #6d23ac, 1px -1px 1px #6d23ac, -1px 1px 1px #6d23ac, 1px 1px 1px #6d23ac, -1px -1px #6d23ac, 1px -1px #6d23ac, -1px 1px #6d23ac, 1px 1px #6d23ac, -1px -1px 2px #6d23ac, 1px -1px 2px #6d23ac, -1px 1px 2px #6d23ac, 1px 1px 2px #6d23ac, -1px -1px 2px #6d23ac, 1px -1px 2px #6d23ac, -1px 1px 2px #6d23ac, 1px 1px 2px #6d23ac, -1px -1px 3px #6d23ac, 1px -1px 3px #6d23ac, -1px 1px 3px #6d23ac, 1px 1px 3px #6d23ac;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward.notGet,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward.notGet
{
  -webkit-filter: grayscale(80%);
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward.notGet .itemWrap:before,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward.notGet .itemWrap:before
{
  display: none;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward.newGet .animationWrap,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward.newGet .animationWrap
{
  width: 130px;
  height: 130px;
  background: url("/magica/resource/image_web/campaign/quiz/common/result_star_flash.png") left top no-repeat;
  position: absolute;
  bottom: -1px;
  left: 5px;
  -webkit-animation: flashRoling 5s linear 0s infinite normal;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward.newGet .clearMark,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward.newGet .clearMark
{
  width: 78px;
  height: 22px;
  background: url("/magica/resource/image_web/campaign/quiz/common/icon_mission_clear.png") left top no-repeat;
  position: absolute;
  bottom: -6px;
  left: 31px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward.newGet .itemWrap:before,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward.newGet .itemWrap:before
{
  display: none;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward .itemWrap,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward .itemWrap
{
  width: 52px;
  height: 52px;
  position: absolute;
  left: 44px;
  bottom: 38px;
  z-index: 2;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward .itemWrap img,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward .itemWrap img
{
  width: 52px;
  height: 52px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward .itemWrap:before,
#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward .itemWrap:before
{
  width: 72px;
  height: 72px;
  background: url("/magica/resource/image_web/campaign/quiz/common/icon_clear.png") left top no-repeat;
  content: "";
  position: absolute;
  top: -9px;
  left: -10px;
  z-index: 2;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .firstClearReward
{
  left: 30px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .completeClearReward
{
  right: 30px;
}

#CampaignQuizTop #quizBase #quizResultWrap .resultRewardWrap .rewardText
{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 6px;
}

#CampaignQuizTop #quizBase #quizResultWrap #backto,
#CampaignQuizTop #quizBase #quizResultWrap #retry
{
  width: 154px;
  height: 39px;
  position: absolute;
  bottom: 14px;
}

#CampaignQuizTop #quizBase #quizResultWrap #backto.off,
#CampaignQuizTop #quizBase #quizResultWrap #retry.off
{
  pointer-events: none;
  -webkit-filter: grayscale(1);
}

#CampaignQuizTop #quizBase #quizResultWrap #backto
{
  left: 103px;
}

#CampaignQuizTop #quizBase #quizResultWrap #retry
{
  right: 103px;
}

@-webkit-keyframes flashRoling
{
  0%
  {
    -webkit-transform: rotate(0deg) translateZ(0);
  }

  25%
  {
    -webkit-transform: rotate(90deg) translateZ(0);
  }

  50%
  {
    -webkit-transform: rotate(180deg) translateZ(0);
  }

  75%
  {
    -webkit-transform: rotate(270deg) translateZ(0);
  }

  100%
  {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@-webkit-keyframes maskVisible
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: .8;
  }
}

@-webkit-keyframes correctCircleFirst
{
  0%
  {
    -webkit-transform: scale(0) translateZ(0);
    opacity: 0;
  }

  33%
  {
    -webkit-transform: scale(1.5) translateZ(0);
    opacity: 1;
  }

  66%
  {
    -webkit-transform: scale(0.2) translateZ(0);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1.5) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes correctCircleSecond
{
  0%
  {
    -webkit-transform: scale(1.2) translateZ(0);
    opacity: .25;
  }

  33%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: .5;
  }

  66%
  {
    -webkit-transform: scale(1.2) translateZ(0);
    opacity: .75;
  }

  100%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes wrongAnim
{
  0%
  {
    -webkit-transform: scaleY(0) scaleX(0.8) translateZ(0);
    opacity: .25;
  }

  25%
  {
    -webkit-transform: scaleY(0.8) scaleX(1) translateZ(0);
    opacity: .5;
  }

  50%
  {
    -webkit-transform: scaleY(1) scaleX(1) rotate(0deg) translateZ(0);
    opacity: 1;
  }

  75%
  {
    -webkit-transform: scaleY(1) scaleX(1) rotate(90deg) translateZ(0);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scaleY(1) scaleX(1) rotate(180deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes nextFlash
{

  0%,
  50%,
  100%
  {
    opacity: 0.5;
  }

  25%,
  75%
  {
    opacity: 1;
  }
}

@-webkit-keyframes countDownAnim
{
  0%
  {
    -webkit-transform: scale(4) translateZ(0);
    opacity: 1;
  }

  50%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes startAnim
{
  0%
  {
    -webkit-transform: rotate(-180deg) translateZ(0);
    opacity: 0;
  }

  25%
  {
    -webkit-transform: rotate(-90deg) translateZ(0);
    opacity: .50;
  }

  50%,
  100%
  {
    -webkit-transform: rotate(0deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes finishTextOne
{
  0%
  {
    -webkit-transform: translateX(-1000px) translateZ(0);
    opacity: .5;
  }

  17%
  {
    -webkit-transform: translateX(0px) translateZ(0);
    -webkit-filter: brightness(100%);
    opacity: 1;
  }

  33%
  {
    -webkit-transform: translateX(0px) translateZ(0);
    -webkit-filter: brightness(300%);
    opacity: 1;
  }

  66%,
  100%
  {
    -webkit-transform: translateX(0px) translateZ(0);
    -webkit-filter: brightness(100%);
    opacity: 1;
  }
}

@-webkit-keyframes finishTextTwo
{
  0%
  {
    -webkit-transform: translateX(1000px) scale(1) translateZ(0);
    opacity: .5;
  }

  17%
  {
    -webkit-transform: translateX(0px) scale(1) translateZ(0);
    opacity: .6;
  }

  38%,
  100%
  {
    -webkit-transform: translateX(0px) scale(2) translateZ(0);
    opacity: 0;
  }
}
