<span class="collectionBack">
  <span class="se_cancel"></span>
</span>
<span class="fullScreenEnd fullScreenBack">
  <span class="se_cancel"></span>
</span>
<span class="fullScreenEnd drawerBtn se_cancel">
  <span class="soundIcon"></span>
  <span class="drawerIcon"></span>
</span>
<div id="detailCardName">
  <span id="att" class='<%= model.chara.attributeId.toLowerCase() %>'></span>
  <p class="charaName ts_pink"> <%= _.escape(model.currentCard.card.cardName) %> <% if(model.currentCard.chara.title) { %> <span class='title ts_pink'><%= model.currentCard.chara.title %></span> <% } %> </p>
  <p class="charaKana"><%= model.chara.kana %></p>
</div>
<div id="detailCardImage"> <% var displayCardRank = model.currentCard.card.rank %> <% var cardFrame = "frame_" + model.chara.attributeId.toLowerCase() + "_" + displayCardRank.toLowerCase(); %> <% var displayCardId = model.currentCard.cardId %> <div data-nativebgkey="<%= cardFrame %>" data-src="resource/image_native/card/frame/<%= cardFrame %>.png" class="cardFrame <%= displayCardRank %> <%= model.chara.attributeId %>"></div>
  <img class="cardImg se_tabs" data-nativeimgkey="card_<%= displayCardId %>_c" data-src="resource/image_native/card/image/card_<%= displayCardId %>_c.png" alt=""> <% if(model.chara.id === 1042){%> <div class="cardNameSpecial"><%= _.escape(model.currentCard.card.cardName) %></div> <% } %> <div class="zoomImg se_tabs">
    <img data-nativeimgkey="card_<%= displayCardId %>_c" data-src="resource/image_native/card/image/card_<%= displayCardId %>_c.png" alt=""> <% if(model.currentCard.chara.id === 1042){%> <div class="cardNameSpecialZoom"><%= _.escape(model.currentCard.card.cardName) %></div> <% } %>
  </div>
  <span class="moviePlayBtn se_tabs TE"></span>
</div>
<ul id="detailTab" class="common_tab t_gold">
  <li data-type="status" class="TE se_tabs current"><span>ステータス</span></li>
  <li data-type="skill" class='TE se_tabs'><span>スキル</span></li>
  <li data-type="illust" class='TE se_tabs'><span>衣装</span></li>
</ul>
<div id="cardDetailWrap" class="status">
  <div id="hiddenWrap" class="hiddenWrap">
    <div class="scrollInner">
      <!-- ステータス -->
      <div id="charaStatus">
        <div class="status">
          <!-- ちびキャラ -->
          <div id="cardDetailMiniChara">
            <img data-nativeimgkey="mini_<%= model.currentCard.card.miniCharaNo %>_s" data-src='resource/image_native/mini/image/mini_<%= model.currentCard.card.miniCharaNo %>_s.png' alt="">
            <span class="bg">
              <div id="rare" class='<%= model.currentCard.card.rank %>'> <% var i = 0; %> <% var maxRare = model.maxRare || Number(model.currentCard.card.rank.split('RANK_')[1]); %> <% while(i < maxRare) { %> <span></span> <% 	i=(i+1)|0; %> <% } %> </div>
            </span>
          </div>
          <div class="statusWrap">
            <!-- レベル経験値 -->
            <div class="level">
              <div class="flexBox">
                <span class="thStyle">Lv</span>
                <p id="detailLv" class="tdStyle">
                  <span class="currentLv c_red"><%= model.currentCard.maxLevel %></span>
                  <span class="sla">/</span>
                  <span class="maxLv"><%= model.currentCard.maxLevel %></span>
                </p>
              </div>
              <div class="gauge">
                <div class="levelMax"></div>
                <div class="expGaugeWrap">
                  <div class="expGaugeInner" style='width:100%'></div>
                  <div class="bg"></div>
                </div>
              </div>
            </div>
            <div class="type flexBox">
              <span class="thStyle">タイプ</span><span class="tdStyle"><%= model.currentCard.charaType %></span>
            </div>
            <div class="revision"> <% var RevisionMax = 3;%> <div class="flexBox">
                <span class="thStyle">魔力解放</span><span class="c_red tdStyle"><%= RevisionMax %></span>
              </div>
              <ul class="flexBox revisionIcon"> <% var i = 0;%> <% var onNum = RevisionMax;%> <% var noneNum = RevisionMax - onNum;%> <% while(i < onNum) {%>
                <li class="on" /> <% i=(i+1)|0; %> <% } %> <% i = 0;%> <% while(i < noneNum) {%>
                <li class="" /> <% i=(i+1)|0; %> <% } %>
              </ul>
            </div>
            <div class="magiaLv"> <% var MagiaLevelMax = 5;%> <div class="flexBox">
                <span class="thStyle">マギアLv</span> <span class="tdStyle c_red"><%= MagiaLevelMax %></span>
              </div>
              <ul class="flexBox magiaLvIcon"> <% i = 0;%> <% onNum = MagiaLevelMax;%> <% var offNum = model.currentCard.episodeLevel - model.magiaLevel;%> <% noneNum = MagiaLevelMax - (onNum + offNum);%> <% while(i < onNum) {%>
                <li class="on" /> <% i=(i+1)|0; %> <% } %> <% i = 0;%> <% while(i < offNum) {%>
                <li class="off" /> <% i=(i+1)|0; %> <% } %> <% i = 0;%> <% while(i < noneNum) {%>
                <li class="none" /> <% i=(i+1)|0; %> <% } %>
              </ul>
            </div>
            <div class="epLv"> <% var EpisodeLevelMax = 5;%> <div class="flexBox">
                <span class="thStyle">エピソードLv</span>
                <span class="c_red tdStyle"><%= EpisodeLevelMax %> <div class="epLevelMax"></div>
                  <div class="gauge">
                    <div class="expGaugeWrap">
                      <div class="expGaugeInner3" style='width:100%'></div>
                      <div class="bg"></div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="profileWrap">
          <div class="thStyle">プロフィール</div>
          <div class="detail commonFrame3"> <%= model.chara.description %> </div>
        </div>
        <div class="flexBox">
          <div class="exProfile1 flexBox">
            <span class="thStyle">学校</span>
            <span class="tdStyle"><%= model.chara.school %></span>
          </div>
        </div>
        <div class="exProfile2"> <% var rankNum = String(displayCardId).split('')[4] %> <div class="flexBox">
            <span class="thStyle small">キャラクターデザイン</span>
            <span class="tdStyle"><%= model.chara.designer %></span>
          </div>
          <div class="flexBox">
            <span class="thStyle illustTitle">★<%= rankNum %>イラスト</span>
            <span class="illustrator tdStyle"><%= model.currentCard.card.illustrator %></span>
          </div>
          <div class="flexBox">
            <span class="thStyle">声優</span>
            <span class="tdStyle"><%= model.chara.voiceActor %></span>
          </div>
        </div>
      </div>
      <div id="charaSkill">
        <div class="commonFrame3 command">
          <p class="common_title_frame">ディスク</p>
          <ul class="commandList">
            <li class='<%= (model.currentCard.card.commandType1) ? model.currentCard.card.commandType1 : "" %>'></li>
            <li class='<%= (model.currentCard.card.commandType2) ? model.currentCard.card.commandType2 : "" %>'></li>
            <li class='<%= (model.currentCard.card.commandType3) ? model.currentCard.card.commandType3 : "" %>'></li>
            <li class='<%= (model.currentCard.card.commandType4) ? model.currentCard.card.commandType4 : "" %>'></li>
            <li class='<%= (model.currentCard.card.commandType5) ? model.currentCard.card.commandType5 : "" %>'></li>
          </ul>
        </div> <% if(model.currentCard.card.pieceSkillList && model.currentCard.card.pieceSkillList.length > 0) { %> <% var _exSkill = model.currentCard.card.pieceSkillList; %> <% if(model.currentCard.card.maxPieceSkillList.length > 0 && model.currentCard.revision === 3) { %> <% _exSkill = model.currentCard.card.maxPieceSkillList; %> <% } %> <div class="commonFrame3 connect">
          <p class="common_title_frame">EXスキル</p> <% _.each(_exSkill,function(m) { %> <div class="flexBox">
            <p class="img">
              <img data-nativeimgkey='icon_skill_<%= m.groupId %>' data-src='resource/image_native/art/icon_skill_<%= m.groupId %>.png'>
            </p>
            <div class="detailWrap">
              <p class="name c_purple"><%= m.name %></p>
              <div class="common_line lc_beige"></div>
              <p class="detail"><%= m.shortDescription %></p>
            </div>
          </div> <% }) %>
        </div> <% } %> <% if(model.currentCard.card.cardSkill) { %> <div class="commonFrame3 connect">
          <p class="common_title_frame">コネクト</p>
          <div class="flexBox">
            <p class="img">
              <img data-nativeimgkey='icon_skill_<%= model.currentCard.card.cardSkill.groupId %>' data-src='resource/image_native/art/icon_skill_<%= model.currentCard.card.cardSkill.groupId %>.png'>
            </p>
            <div class="detailWrap">
              <p class="name c_purple"><%= model.currentCard.card.cardSkill.name %></p>
              <div class="common_line lc_beige"></div>
              <p class="detail"><%= model.currentCard.card.cardSkill.shortDescription %></p>
            </div>
          </div>
        </div> <% } %> <% if(model.currentCard.card.cardMagia) { %> <div class="commonFrame3 magia">
          <p class="common_title_frame">マギア</p>
          <div class="border"></div>
          <p class="common_title_frame">マギア</p>
          <div class="flexBox magiaLevel"> マギアLv<span class="c_red"><%= model.currentCard.magiaLevel %></span>
            <ul class="flexBox magiaLvIcon"> <% i = 0;%> <% var MagiaLevelMax = 5;%> <% onNum = model.currentCard.magiaLevel;%> <% var offNum = model.currentCard.episodeLevel - model.currentCard.magiaLevel;%> <% noneNum = MagiaLevelMax - (onNum + offNum);%> <% while(i < onNum) {%>
              <li class="on" /> <% i=(i+1)|0; %> <% } %> <% i = 0;%> <% while(i < offNum) {%>
              <li class="off" /> <% i=(i+1)|0; %> <% } %> <% i = 0;%> <% while(i < noneNum) {%>
              <li class="none" /> <% i=(i+1)|0; %> <% } %>
            </ul>
          </div>
          <div class="magiaDetail">
            <div class="flexBox">
              <p class="img">
                <img data-nativeimgkey='icon_skill_<%= model.currentCard.card.cardMagia.groupId %>' data-src='resource/image_native/art/icon_skill_<%= model.currentCard.card.cardMagia.groupId %>.png'>
              </p>
              <div class="detailWrap">
                <p class="name c_purple"><%= model.currentCard.card.cardMagia.name %></p>
                <div class="common_line lc_beige"></div>
                <p class="detail"><%= model.currentCard.card.cardMagia.shortDescription %></p>
              </div>
            </div>
          </div> <% if(model.currentCard.card.doppelCharaNo) { %> <% console.log(model); %> <div class="doppel doppelDetail">
            <div class="flexBox"> <% if(model.currentCard.doppelOpenFlag && model.currentCard.card.doppelMagiaId) { %> <p class="img doppel">
                <img data-nativeimgkey='mini_<%= model.currentCard.card.doppelCharaNo %>_dd' data-src='resource/image_native/mini/image/mini_<%= model.currentCard.card.doppelCharaNo %>_dd.png'>
                <span class="bg"></span>
              </p>
              <div class="detailWrap">
                <p class="name c_purple"><%= model.currentCard.card.doppelCardMagia.name %></p>
                <div class="common_line lc_beige"></div>
                <p class="detail"><%= model.currentCard.card.doppelCardMagia.shortDescription %></p>
              </div> <% } else { %> <p class="img">
                <img src='/magica/resource/image_web/common/chara/icon_doppel_null.png'>
              </p>
              <div class="detailWrap">
                <p class="name c_purple">未解放</p>
                <div class="common_line lc_beige"></div>
                <p class="detail">ドッペルクエストクリアで解放</p>
              </div> <% } %>
            </div>
          </div> <% } %>
        </div> <% } %>
      </div>
      <div id="charaIllust">
        <div class="commonFrame3">
          <p class="common_title_frame">ホーム衣装</p>
          <div class="live2dBtns"> <% _.forEach(model.currentCard.live2dList,function(txt,index){ %> <% classTxt = (index == 0) ? "current" : ""; %> <div class="live2dChangeBtn se_decide commonFrame4 c_gold <%= classTxt %>" data-live2did="<%= txt.live2dId %>"> <%= txt.description %> </div> <% }) %> </div>
        </div>
      </div>
    </div>
  </div>
</div>
