<div id="CollectionTop">
  <div class="btnWrap">
    <div class="collectionBtn se_decide TE charaBtn linkBtn" data-href="#/CharaCollection"></div>
    <div class="collectionBtn se_decide TE memoriaBtn linkBtn" data-href="#/PieceCollection"></div>
    <div class="collectionBtn se_decide TE doppelBtn linkBtn" data-href="#/DoppelCollection"></div>
    <div class="collectionBtn se_decide TE witchBtn linkBtn" data-href="#/EnemyCollection"></div>
  </div>
</div>
<div id="globalMenu">
  <span id="globalBackBtn" class="backLinkBtn TE off">
    <span class="se_cancel"></span>
  </span>
</div>
