<div class="<%= model.statusClass %>">
  <div class="canUse">
    <span class='c_pink'><%= model.attackCountInfo.itemName %></span>を<span class='c_pink'>1枚</span>使用して<br> ミラーズランクマッチの対戦回数を<span class='c_pink'>1回</span>回復できます。<br> いくつ使用しますか？<br> （本日残り対戦回数 <span class='c_pink'><%= model.attackCountInfo.num %>/<%= model.attackCountInfo.numMax %></span>）<br>
  </div>
  <div class="amountSelectWrap">
    <span class="titles c_gold">使用数</span>
    <div id="amountMinus" class="TE se_decide"><span class='b_screen'></span></div>
    <div id="amountPlus" class="TE se_decide"><span class='b_screen'></span></div>
    <div class="amountNums">
      <span id="amountSelects">1</span>/<span id="amountMax"><%= model.maxNum %></span>
    </div>
    <div class="btn sb_gold_02 se_decide TE maxBtn"><span class="b_screen"></span>MAX</div>
  </div>
  <div class="itemInfoWrap">
    <img class='useItemIcon' src="/magica/resource/image_web/event/arenaRankMatch/common/top/icon_rank_match_battle_recovery_f.png" />
    <div class='stoneA pointFrame'> 所持 <span class="num"> <%= model.attackCountInfo.itemNum %> <span class="remain">
          <span class="arrow">&#9654;</span>
          <span id="itemUseNum"><%= model.attackCountInfo.itemUseNum %></span>
        </span>
      </span>
    </div>
  </div>
</div>
