#SectionClearAnimation
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
}

#SectionClearAnimation div
{
  opacity: 0;
}

#SectionClearAnimation #whiteOut
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

#SectionClearAnimation #sectionClear_b,
#SectionClearAnimation #sectionClear_b2
{
  width: 310px;
  height: 62px;
  position: fixed;
  top: -webkit-calc(50% - 228px);
  left: -webkit-calc(50% - 155px);
  background: url("/magica/resource/image_web/event/dungeon/common/top/area_clear.png") center center;
}

#SectionClearAnimation #sectionClear_b
{
  z-index: 6;
  -webkit-animation: .450s sectionClearFirst ease-in-out 1.000s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #sectionClear_b2
{
  z-index: 5;
  -webkit-animation: .200s simpleFadeIn ease-in-out 1.000s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #sectionClear_s
{
  width: 330px;
  height: 10px;
  background: url("/magica/resource/image_web/event/dungeon/common/top/area_clear_s.png") center center;
  position: fixed;
  top: -webkit-calc(50% - 152px);
  left: -webkit-calc(50% - 155px);
  z-index: 5;
  -webkit-animation: .25s simpleFadeIn ease-in-out 1.2s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #sectionClear_base
{
  width: 433px;
  height: 174px;
  background: url("/magica/resource/image_web/page/quest/animation/section_clear_base.png") center center;
  position: fixed;
  top: -webkit-calc(50% - 276px);
  left: -webkit-calc(50% - 216.5px);
  z-index: 4;
}

#SectionClearAnimation #sectionClear_light
{
  width: 512px;
  height: 512px;
  background: url("/magica/resource/image_web/page/quest/animation/clear_light.png") center center;
  position: fixed;
  top: -webkit-calc(50% - 444px);
  left: -webkit-calc(50% - 256px);
  z-index: 3;
  -webkit-animation: .417s sectionClearLight ease-in-out 1.117s 1 normal,
    .417s sectionClearLightSecond linear 1.117s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #sectionChestLight
{
  width: 512px;
  height: 512px;
  background: url("/magica/resource/image_web/page/quest/animation/section_clear_light.png") center center;
  position: fixed;
  top: -webkit-calc(50% - 256px);
  left: -webkit-calc(50% - 256px);
  z-index: 9;
}

#SectionClearAnimation #sectionChestOpen
{
  width: 130px;
  height: 122px;
  position: fixed;
  top: -webkit-calc(50% - 53px);
  left: -webkit-calc(50% - 65px);
  z-index: 8;
}

#SectionClearAnimation #sectionChestOpen img
{
  width: 130px;
}

#SectionClearAnimation #sectionChest
{
  width: 130px;
  height: 122px;
  position: fixed;
  top: -webkit-calc(50% - 53px);
  left: -webkit-calc(50% - 65px);
  z-index: 6;
}

#SectionClearAnimation #sectionChest img
{
  width: 130px;
}

#SectionClearAnimation #sectionChest2
{
  width: 130px;
  height: 122px;
  position: fixed;
  top: -webkit-calc(50% - 53px);
  left: -webkit-calc(50% - 65px);
  z-index: 7;
}

#SectionClearAnimation #sectionChest2 img
{
  width: 130px;
}

#SectionClearAnimation #itemPetal1
{
  width: 314px;
  height: 139px;
  background: url("/magica/resource/image_web/page/quest/animation/section_clear_petal.png");
  position: fixed;
  top: -webkit-calc(50% - 69px);
  left: -webkit-calc(50% - 157px);
  z-index: 8;
}

#SectionClearAnimation #itemPetal2
{
  width: 314px;
  height: 139px;
  background: url("/magica/resource/image_web/page/quest/animation/section_clear_petal.png");
  position: fixed;
  top: -webkit-calc(50% - 69px);
  left: -webkit-calc(50% - 157px);
  z-index: 9;
}

#SectionClearAnimation #sectionItemIcon
{
  width: 114px;
  height: 114px;
  padding: 7px;
  background: url("/magica/resource/image_web/page/quest/animation/square_light.png");
  position: fixed;
  top: -webkit-calc(50% - 92px);
  left: -webkit-calc(50% - 57px);
  z-index: 5;
}

#SectionClearAnimation #sectionItemIcon .title
{
  position: absolute;
  width: 96px;
  height: 26px;
  top: -7px;
  left: 10px;
  z-index: 2;
}

#SectionClearAnimation #sectionItemIcon .title.get
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/get.png") left top no-repeat;
  opacity: 1;
}

#SectionClearAnimation #sectionItemIcon img
{
  width: 100px;
  height: 100px;
  z-index: 100;
}

#SectionClearAnimation #sectionItemIcon .quantity
{
  position: absolute;
  right: 2px;
  bottom: 0;
  font-size: 20px;
  z-index: 101;
}

#SectionClearAnimation #sectionItemIcon .imgWrap
{
  width: 100px;
  height: 100px;
  z-index: 1;
  position: relative;
}

#SectionClearAnimation #sectionItemIcon .imgWrap,
#SectionClearAnimation #sectionItemIcon .imgWrap *
{
  opacity: 1;
}

#SectionClearAnimation #sectionItemIcon .imgWrap img
{
  position: absolute;
  top: 0;
  left: 0;
}

#SectionClearAnimation #sectionItemIcon .imgWrap .charaIcon
{
  width: 58px;
  height: 52px;
  position: absolute;
  right: -7px;
  bottom: -7px;
}

#SectionClearAnimation #sectionItemIcon .imgWrap .charaIcon:before
{
  width: 58px;
  height: 52px;
  background: url("/magica/resource/image_web/common/chara/chara_frame_S.png") left top no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  content: "";
  z-index: 111;
}

#SectionClearAnimation #sectionItemIcon .imgWrap .charaIcon:after
{
  width: 58px;
  height: 52px;
  background: url("/magica/resource/image_web/common/chara/chara_base_S.png") left top no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  content: "";
  z-index: 109;
}

#SectionClearAnimation #sectionItemIcon .imgWrap .charaIcon .maskWrap
{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 26px);
  overflow: hidden;
  border-radius: 26px;
  z-index: 110;
}

#SectionClearAnimation #sectionItemIcon .imgWrap .charaIcon .maskWrap img
{
  width: 60px;
  height: auto;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 30px);
}

#SectionClearAnimation #resultMissionFrame
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/bg_area_mission.png") left top no-repeat;
  width: 608px;
  height: 194px;
  position: absolute;
  bottom: 49px;
  left: -webkit-calc(50% - 304px);
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  z-index: 10;
}

#SectionClearAnimation #resultMissionFrame .missionList
{
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 19px;
  text-align: left;
}

#SectionClearAnimation #resultMissionFrame .missionList tr td
{
  position: relative;
}

#SectionClearAnimation #resultMissionFrame .missionList tr td .clearIcon
{
  background: url("/magica/resource/image_web/page/mission/icon_mission_clear.png") left top no-repeat;
  width: 50px;
  height: 14px;
  background-size: 50px 14px;
}

#SectionClearAnimation #resultMissionFrame .missionList tr td .star
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/area_result_star_gray.png") left top no-repeat;
  position: relative;
  margin: 0 auto;
  width: 46px;
  height: 46px;
  z-index: 2;
}

#SectionClearAnimation #resultMissionFrame .missionList tr td .clearSprite
{
  position: absolute;
  left: 0;
  top: -9px;
  width: 64px;
  height: 64px;
  background: url("/magica/resource/image_web/page/questresult/result_star_flash.png");
  background-size: 64px;
  z-index: 1;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.cleared td .clearIcon
{
  opacity: 1;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.cleared td .star
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/area_result_star.png") left top no-repeat;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.firstClear.anim td .clearIcon
{
  -webkit-animation: .3s clearIconFadeIn ease-in .2s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.firstClear.anim td .star
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/area_result_star.png") left top no-repeat;
  -webkit-animation: starBound .5s linear 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.firstClear.anim td .clearSprite
{
  -webkit-animation: flashAppear .43s ease .4s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame .missionList tr.firstClear.anim td .clearSprite.roling
{
  -webkit-animation: flashRoling 5s linear 0s infinite normal;
  opacity: 1;
}

#SectionClearAnimation #resultMissionFrame #missionItemList
{
  width: 163px;
  height: 154px;
  background-image: url("/magica/resource/image_web/page/questresult/result_mission_item_bg.png");
  position: absolute;
  top: 13px;
  right: -80px;
  z-index: 50;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .itemImg
{
  min-height: 80px;
  max-height: 80px;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 38px;
  z-index: 1;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .effectWrap
{
  width: 186px;
  height: 185px;
  position: absolute;
  top: -13px;
  left: -14px;
  opacity: 1;
  z-index: 5;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .effectWrap .effectCircle
{
  width: 186px;
  height: 185px;
  background: url("/magica/resource/image_web/page/questresult/ef_item_circle.png");
  position: absolute;
  top: 0;
  left: 0;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .effectWrap .effectFlash
{
  width: 170px;
  height: 170px;
  background: url("/magica/resource/image_web/page/questresult/ef_item_flash.png");
  position: absolute;
  top: 8px;
  left: 7.5px;
  mix-blend-mode: screen;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .effectWrap .effectGlitter
{
  width: 170px;
  height: 170px;
  background: url("/magica/resource/image_web/page/questresult/ef_item_glitter.png");
  position: absolute;
  top: 8px;
  left: 7.5px;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .missionRewardTitle
{
  width: 148px;
  height: 42px;
  position: absolute;
  top: -7px;
  left: 2px;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .rewardNum
{
  width: 90px;
  position: absolute;
  top: 102px;
  left: 24px;
  text-align: right;
  z-index: 2;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .maskWrap
{
  width: 132px;
  height: 110px;
  background: url("/magica/resource/image_web/common/treasure/bronze_close.png") bottom center;
  background-repeat: no-repeat;
  background-position: 10px 0 !important;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  z-index: 2;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .maskWrap.siver
{
  background: url("/magica/resource/image_web/common/treasure/silver_close.png") bottom center;
  background-repeat: no-repeat;
  background-position: 10px 0 !important;
  background-size: contain;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .maskWrap.gold
{
  background: url("/magica/resource/image_web/common/treasure/gold_close.png") bottom center;
  background-repeat: no-repeat;
  background-position: 10px 0 !important;
  background-size: contain;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon
{
  width: 58px;
  height: 52px;
  position: absolute;
  bottom: 18px;
  right: 29px;
  z-index: 10;
  display: none;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon,
#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon *
{
  opacity: 1;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon:before
{
  content: "";
  width: 58px;
  height: 52px;
  display: block;
  background: url("/magica/resource/image_web/common/chara/chara_frame_S.png");
  background-size: 58px 52px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon .charaMaskWrap
{
  width: 52px;
  height: 52px;
  overflow: hidden;
  -webkit-border-radius: 26px;
  position: absolute;
  left: 3px;
}

#SectionClearAnimation #resultMissionFrame #missionItemList .charaIcon .charaMaskWrap img
{
  width: 62px;
  height: 69px;
  position: relative;
  left: -10px;
  z-index: 1;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.noGet
{
  -webkit-animation: missionItemAnimation .27s ease 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.noGet .missionRewardTitle
{
  background-image: url("/magica/resource/image_web/page/questresult/result_mission_reward_title1.png");
}

#SectionClearAnimation #resultMissionFrame #missionItemList.noGet .maskWrap
{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet
{
  -webkit-animation: missionItemAnimation .27s ease 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .missionRewardTitle
{
  background-image: url("/magica/resource/image_web/page/questresult/result_mission_reward_title2.png");
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .itemImg,
#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .rewardNum
{
  -webkit-animation: itemAppear .13s ease .5s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .effectWrap .effectCircle
{
  -webkit-animation: itemCicleEffect .5s ease .25s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .effectWrap .effectFlash
{
  -webkit-animation: itemFlashEffect .5s ease .25s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .effectWrap .effectGlitter
{
  -webkit-animation: itemEffectEffect .5s ease .25s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .maskWrap
{
  -webkit-animation: itemBoxOpen .75s ease 0s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .maskWrap.silver
{
  -webkit-animation: rareItemBoxOpen .75s ease 0s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .maskWrap.gold
{
  -webkit-animation: SSRItemBoxOpen .75s ease 0s 1 alternate;
  -webkit-animation-fill-mode: both;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.canGet .charaIcon
{
  display: block;
}

#SectionClearAnimation #resultMissionFrame #missionItemList.alreadyGet
{
  display: none;
}

#SectionClearAnimation #itemLight
{
  width: 414px;
  height: 417px;
  background: url("/magica/resource/image_web/page/quest/animation/light.png");
  position: fixed;
  top: -webkit-calc(50% - 246px);
  left: -webkit-calc(50% - 207px);
  z-index: 4;
}

#SectionClearAnimation #touchScreen
{
  position: fixed;
  left: -webkit-calc(50% - 117px);
  bottom: 13px;
  width: 234px;
  height: 22px;
  background: url("/magica/resource/image_web/page/questresult/result_touchscreen.png") no-repeat;
}

#SectionClearAnimation #touchScreen.fadeIn
{
  -webkit-animation: touchScreen 1s ease-in-out 1.0s infinite normal;
  z-index: 1000;
}

#SectionClearAnimation #magicFrameL,
#SectionClearAnimation #magicFrameR
{
  width: 174px;
  height: 498px;
  position: fixed;
  top: -webkit-calc(50% - 246px);
  z-index: 3;
}

#SectionClearAnimation #magicFrameL
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/frame_left.png") center center;
  left: 92px;
  -webkit-animation: .750s magicFrameLFadeIn ease-out .700s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #magicFrameR
{
  background: url("/magica/resource/image_web/event/dungeon/common/top/frame_right.png") center center;
  right: 92px;
  -webkit-animation: .750s magicFrameRFadeIn ease-out .700s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #clearMask
{
  width: 200%;
  height: 150%;
  background: url("/magica/resource/image_web/page/quest/animation/clear_mask.png") left center no-repeat;
  background-size: 200% 150%;
  position: fixed;
  top: 0;
  left: -25%;
  -webkit-animation: .167s clearMaskFadeIn ease-in-out .5s 1 normal;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation #clearBgMask
{
  width: 100%;
  height: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: .167s clearBgMaskFadeIn ease-in-out .5s 1 normal;
  z-index: 1;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #sectionChest
{
  -webkit-animation: 2s sectionChestFirstOpacity ease-in-out .83s 1 normal,
    2s sectionChestFirstTrans linear .83s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #sectionChest2
{
  -webkit-animation: .87s sectionChestSecond ease-in-out 2.08s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #sectionChestOpen
{
  -webkit-animation: .58s chestOpen ease-in-out 2.75s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #sectionChestLight
{
  -webkit-animation: .47s sectionChestLightOpacity ease-in-out 3s 1 normal,
    .47s sectionChestLightTrans linear 3s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #whiteOut
{
  -webkit-animation: .5s whiteOuts ease-in-out 3.2s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #itemPetal1
{
  -webkit-animation: .73s petalFirst linear 3.46s 1 normal,
    .73s petalFadeInOut ease-in-out 3.46s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #itemPetal2
{
  -webkit-animation: .73s petalSecond linear 3.46s 1 normal,
    .73s petalFadeInOut ease-in-out 3.46s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #itemLight
{
  -webkit-animation: .167s simpleFadeIn ease-in-out 3.46s 1 normal,
    2.03s itemLightScale linear 3.46s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step1 #itemLight.roling
{
  -webkit-animation: 33.33s itemLightRotate linear 0s infinite normal;
  opacity: 1;
}

#SectionClearAnimation.step2 #sectionItemIcon
{
  -webkit-animation: 2.03s sectionItemTrans linear .13s 1 normal,
    .167s simpleFadeIn ease-in-out .13s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.step2 #resultMissionFrame
{
  -webkit-animation: .167s simpleFadeIn ease-in-out .13s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.lastStep #magicFrameL,
#SectionClearAnimation.lastStep #magicFrameR
{
  -webkit-animation: .167s finishMagicFrame linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.lastStep #itemLight,
#SectionClearAnimation.lastStep #sectionItemIcon
{
  -webkit-animation: .167s finishItem linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.lastStep #sectionClear_b2,
#SectionClearAnimation.lastStep #sectionClear_s,
#SectionClearAnimation.lastStep #sectionClear_base,
#SectionClearAnimation.lastStep #clearMask
{
  -webkit-animation: .167s finishCommon linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

#SectionClearAnimation.lastStep #clearBgMask,
#SectionClearAnimation.lastStep #resultMissionFrame
{
  -webkit-animation: .167s simpleFadeOut linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}

.cpCureAfter .popupTextArea
{
  height: 356px !important;
}

@-webkit-keyframes simpleFadeIn
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

@-webkit-keyframes simpleFadeOut
{
  0%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 0;
  }
}

@-webkit-keyframes clearMaskFadeIn
{
  0%
  {
    -webkit-transform: scaleY(0);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes clearBgMaskFadeIn
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: .6;
  }
}

@-webkit-keyframes magicFrameLFadeIn
{
  0%
  {
    -webkit-transform: translate(500px, 0) scale(0);
    opacity: 0.4;
  }

  100%
  {
    -webkit-transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes magicFrameRFadeIn
{
  0%
  {
    -webkit-transform: translate(-500px, 0) scale(0);
    opacity: 0.4;
  }

  100%
  {
    -webkit-transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes sectionClearFirst
{
  0%
  {
    -webkit-transform: scale(2);
    opacity: 0;
  }

  40%
  {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scaleX(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes sectionClearLight
{
  0%
  {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  57%
  {
    opacity: .6;
  }

  100%
  {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes sectionClearLightSecond
{
  0%
  {
    -webkit-transform: rotate(-30deg);
  }

  100%
  {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes sectionChestFirstOpacity
{

  0%,
  100%
  {
    opacity: 0;
  }

  17%,
  92%
  {
    opacity: 1;
  }
}

@-webkit-keyframes sectionChestFirstTrans
{
  0%
  {
    -webkit-transform: translateY(-230px) rotate(47deg);
  }

  17%
  {
    -webkit-transform: translateY(-19px) rotate(47deg);
  }

  21%
  {
    -webkit-transform: translateY(-41px) rotate(22deg);
  }

  25%
  {
    -webkit-transform: translateY(-7px) rotate(-20deg);
  }

  29%
  {
    -webkit-transform: translateY(-21px) rotate(-5deg);
  }

  33%
  {
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes sectionChestSecond
{
  0%
  {
    -webkit-transform: scale(1);
    opacity: 0;
    -webkit-filter: brightness(100%);
  }

  77%
  {
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1.5);
    opacity: 0;
    -webkit-filter: brightness(150%);
  }
}

@-webkit-keyframes chestOpen
{

  0%,
  100%
  {
    opacity: 0;
  }

  34%,
  86%
  {
    opacity: 1;
  }
}

@-webkit-keyframes whiteOuts
{

  0%,
  100%
  {
    opacity: 0;
  }

  33%,
  53%
  {
    opacity: 1;
  }
}

@-webkit-keyframes sectionChestLightOpacity
{
  0%
  {
    opacity: 1;
  }

  79%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 0;
  }
}

@-webkit-keyframes sectionChestLightTrans
{
  0%
  {
    -webkit-transform: scale(0);
  }

  100%
  {
    -webkit-transform: scale(2.5);
  }
}

@-webkit-keyframes sectionItemTrans
{
  0%
  {
    -webkit-transform: scale(1.5);
  }

  8%
  {
    -webkit-transform: scale(0.9);
  }

  13%
  {
    -webkit-transform: scale(1);
  }

  100%
  {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes petalFadeInOut
{

  0%,
  100%
  {
    opacity: 0;
    -webkit-filter: brightness(100%);
  }

  11%
  {
    opacity: 1;
    -webkit-filter: brightness(400%);
  }
}

@-webkit-keyframes petalFirst
{
  0%
  {
    -webkit-transform: rotate(0deg) scale(0);
  }

  25%
  {
    -webkit-transform: rotate(60deg) scale(0.425);
  }

  50%
  {
    -webkit-transform: rotate(120deg) scale(0.85);
  }

  75%
  {
    -webkit-transform: rotate(180deg) scale(1.275);
  }

  100%
  {
    -webkit-transform: rotate(240deg) scale(1.7);
  }
}

@-webkit-keyframes petalSecond
{
  0%
  {
    -webkit-transform: rotate(90deg) scale(0);
  }

  25%
  {
    -webkit-transform: rotate(180deg) scale(0.35);
  }

  50%
  {
    -webkit-transform: rotate(240deg) scale(0.7);
  }

  75%
  {
    -webkit-transform: rotate(300deg) scale(1.15);
  }

  100%
  {
    -webkit-transform: rotate(360deg) scale(1.4);
  }
}

@-webkit-keyframes itemLightScale
{
  0%
  {
    -webkit-transform: scale(1.5);
  }

  63%
  {
    -webkit-transform: scale(0.9);
  }

  100%
  {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes itemLightRotate
{
  0%
  {
    -webkit-transform: rotate(0);
  }

  25%
  {
    -webkit-transform: rotate(90deg);
  }

  50%
  {
    -webkit-transform: rotate(180deg);
  }

  75%
  {
    -webkit-transform: rotate(270deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes clearIconFadeIn
{
  0%
  {
    background-position: 0 14px;
    opacity: 0;
  }

  100%
  {
    background-position: 0 0px;
    opacity: 1;
  }
}

@-webkit-keyframes starBound
{
  0%
  {
    -webkit-transform: scale(2) translateZ(0);
    opacity: 0;
  }

  50%
  {
    -webkit-transform: scale(0.8) translateZ(0);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes starBoundOver
{
  0%
  {
    -webkit-transform: scale(0.8) translateZ(0);
    opacity: 100%;
  }

  50%
  {
    opacity: .8;
  }

  100%
  {
    -webkit-transform: scale(3) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes starFadeIn
{
  0%
  {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes flashAppear
{
  0%
  {
    -webkit-transform: scale(1.5) translateZ(0);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes flashRoling
{
  0%
  {
    -webkit-transform: rotate(0deg) translateZ(0);
  }

  25%
  {
    -webkit-transform: rotate(90deg) translateZ(0);
  }

  50%
  {
    -webkit-transform: rotate(180deg) translateZ(0);
  }

  75%
  {
    -webkit-transform: rotate(270deg) translateZ(0);
  }

  100%
  {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@-webkit-keyframes missionItemAnimation
{
  0%
  {
    -webkit-transform: scale(0) rotate(-90deg) translateZ(0);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: scale(1) rotate(0deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes itemBoxOpen
{
  0%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_close.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  33%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_close.png");
    -webkit-transform: scale(0.8) translateZ(0);
  }

  34%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_open.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  50%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_open.png");
    -webkit-transform: scale(1.1) translateZ(0);
    opacity: 1;
  }

  66%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_open.png");
    opacity: 1;
  }

  100%
  {
    background-image: url("/magica/resource/image_web/common/treasure/bronze_open.png");
    opacity: 0;
  }
}

@-webkit-keyframes rareItemBoxOpen
{
  0%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_close.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  33%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_close.png");
    -webkit-transform: scale(0.8) translateZ(0);
  }

  34%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_open.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  50%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_open.png");
    -webkit-transform: scale(1.1) translateZ(0);
    opacity: 1;
  }

  66%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_open.png");
    opacity: 1;
  }

  100%
  {
    background-image: url("/magica/resource/image_web/common/treasure/silver_open.png");
    opacity: 0;
  }
}

@-webkit-keyframes SSRItemBoxOpen
{
  0%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_close.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  33%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_close.png");
    -webkit-transform: scale(0.8) translateZ(0);
  }

  34%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_open.png");
    -webkit-transform: scale(1) translateZ(0);
  }

  50%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_open.png");
    -webkit-transform: scale(1.1) translateZ(0);
    opacity: 1;
  }

  66%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_open.png");
    opacity: 1;
  }

  100%
  {
    background-image: url("/magica/resource/image_web/common/treasure/gold_open.png");
    opacity: 0;
  }
}

@-webkit-keyframes itemAppear
{
  0%
  {
    -webkit-transform: translateY(-26px) translateZ(0);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: translateY(0px) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes itemCicleEffect
{
  0%
  {
    -webkit-transform: scale(0.3) translateZ(0);
    opacity: 0;
  }

  50%
  {
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1.2) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes itemFlashEffect
{
  0%
  {
    -webkit-transform: scale(1.2) translateZ(0);
    opacity: 0;
  }

  50%
  {
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(1.5) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes finishMagicFrame
{
  0%
  {
    -webkit-transform: scaleX(1);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
}

@-webkit-keyframes finishCommon
{
  0%
  {
    -webkit-transform: scaleY(1);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scaleY(0);
    opacity: 0;
  }
}

@-webkit-keyframes finishItem
{
  0%
  {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100%
  {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes touchScreen
{

  0%,
  100%
  {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: .5;
  }

  50%
  {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
