	<span class="closeDefault se_cancel popupCloseBtn TE" id="memoriaPopClose"></span>
	<div class="whiteLine"></div>
	<div class="memoriaNameWrap <%= model.piece.pieceType %>">
	  <span class="memoriaTypeIcon"></span>
	  <span class="memoriaName c_white"><%= model.piece.pieceName %></span>
	  <span class="memoriaTypeName"><% if(model.piece.pieceType === "SKILL"){ %>スキルタイプ<% }else{ %>アビリティタイプ<% } %></span>
	</div>
	<div id="memoriaDetailPopup">
	  <div class="popupCardImage">
	    <img data-nativeimgkey="memoria_<%= model.piece.pieceId %>_c" data-src="resource/image_native/memoria/memoria_<%= model.piece.pieceId %>_c.png">
	  </div>
	  <div class="popupDetailWrap commonFrame5 <%= model.piece.pieceType %><% if(model.btnHide == true){ %> btnHide<% } %>" id="memoriaPopScroll">
	    <div class="hideArea">
	      <div class="infoWrap">
	        <div class="effectiveWrap">
	          <dl class="equipLimited common_dl">
	            <dt class="limitedTitle">装備可能</dt>
	            <dd class="canEquip"> <%
								var equipLimited;
								switch(model.piece.attributeId){
									case "ALL":
										equipLimited = "";
										break;
									case "FIRE":
										equipLimited = "火属性";
										break;
									case "WATER":
										equipLimited = "水属性";
										break;
									case "TIMBER":
										equipLimited = "木属性";
										break;
									case "LIGHT":
										equipLimited = "光属性";
										break;
									case "DARK":
										equipLimited = "闇属性";
										break;
								};
							%> <% if(equipLimited){ %> <%= equipLimited %> <% } %> <% if(model.piece.charaList) { %> <% _.each(model.piece.charaList,function(obj,index){ %> <% var name = (index !== 0) ? '、'+obj.name : obj.name; %> <%= _.escape(name) %> <% }); %> <% } %> <% if(!equipLimited && !model.piece.charaList){ %> すべて <% } %> </dd>
	          </dl>
	          <div class="memoriaHr common_line lc_beige"></div>
	          <div class="cardDescription"> <%= model.piece.description %> </div>
	        </div>
	        <div class="illustrator"> <%= model.piece.illustrator %> </div>
	      </div>
	    </div>
	    <div id="strengtheningBtn" class="sb_pink01 TE se_decide">強化</div>
	    <div id="breakthroughBtn" class="sb_pink01 TE se_decide">限界突破</div>
	  </div> <%
			var addClass = "";
			if(model.protect)            addClass  = " protected";
			if(model.unprotectLimitFlag) addClass += " cantUnlock";
		%> <% if(!model.lockFlg && !model.supportFlag){ %><span id="memoriaProtect" class="se_decide<%= addClass %>"><% if(model.protect){ %>ロック中<% }else{ %>ロック<% } %></span><% } %>
	</div>
