#tapBlock
{
  background: rgba(0, 0, 0, 0.3);
}

#bdItemNumPopup .popupTextArea
{
  padding-top: 30px;
}

#bdItemNumPopup .popupTextArea #inputClearBtn,
#bdItemNumPopup .popupTextArea #inputDelete1Btn
{
  margin-left: 5px;
  font-size: 16px;
  width: 128px;
  padding: 0 15px;
}

#bdItemNumPopup .popupTextArea #inputClearBtn
{
  position: absolute;
  left: 59px;
  top: 139px;
}

#bdItemNumPopup .popupTextArea #inputDelete1Btn
{
  position: absolute;
  left: 60px;
  top: 353px;
}

#bdItemNumPopup .popupTextArea ul
{
  margin: 10px auto 0;
  width: 50%;
}

#bdItemNumPopup .popupTextArea ul li
{
  display: inline-block;
  margin: 5px;
  padding: 0 15px;
  width: 108px;
}

#bdItemNumPopup .popupTextArea ul li:nth-child(-n + 4)
{
  width: 108px;
}

#bdItemNumPopup .popupTextArea ul li:nth-child(3)
{
  margin-bottom: 8px;
}

#bdItemNumPopup .popupTextArea ul li:not(.inputTextBtn)
{
  margin-top: 8px;
  width: 112px;
}

#bdItemNumPopup .popupBtnArea
{
  position: absolute;
  bottom: 0;
  left: -webkit-calc(50% - 230px);
}

#Backdoor
{
  width: 1024px;
  height: 100%;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#Backdoor #rewardGetInput
{
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  -webkit-user-select: auto !important;
  -webkit-touch-callout: default !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

#Backdoor #rewardGetBtn
{
  padding: 0 10px;
  height: 44px;
  line-height: 1.2;
  margin-left: 30px;
}

#Backdoor #rewardInputClearBtn
{
  padding: 0 10px;
  height: 44px;
  line-height: 1.2;
  margin-left: 10px;
}

#Backdoor #rewardInputDelete1Btn
{
  padding: 0 10px;
  height: 44px;
  line-height: 1.2;
  margin-left: 10px;
}

#Backdoor #rewardCaution
{
  border: 2px solid #888;
  margin: 5px 0 0;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 10px;
  padding: 6px;
  border-radius: 10px;
  width: 660px;
}

#Backdoor #keyPadWrap
{
  margin-top: 20px;
}

#Backdoor #keyPadWrap ul#keyNumList
{
  width: 500px;
}

#Backdoor #keyPadWrap ul li
{
  display: inline-block;
  margin: 5px;
  padding: 0 20px;
}

#Backdoor .tabWrap
{
  width: 220px;
  padding: 20px 15px;
  position: fixed;
  top: 62px;
  height: -webkit-calc(100% - 76px);
  left: 20px;
}

#Backdoor .tabWrap li:not(:last-child)
{
  margin: 0 0 10px;
}

#Backdoor .memoriaImg
{
  width: 60px;
  height: 60px;
}

#Backdoor .userCharaIcon
{
  position: absolute;
  top: 22px;
  left: 0;
  -webkit-transform: scale(0.7);
}

#Backdoor #outerWrap
{
  width: 765px;
  height: 85%;
  position: absolute;
  top: 80px;
  right: 5px;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(2%, black), color-stop(98%, black), to(rgba(0, 0, 0, 0)));
}

#Backdoor .wrap
{
  width: 760px;
  height: auto;
  min-height: 100%;
  padding: 20px 0 0;
  display: none;
}

#Backdoor .wrap.show
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

#Backdoor .wrap .showAllBtn
{
  margin: 15px auto 20px;
}

#Backdoor .wrap .listItem
{
  width: 240px;
  height: 100px;
  margin: 0 0 15px 10px;
  padding: 10px;
  position: relative;
  font-size: 14px;
  text-align: left;
}

#Backdoor .wrap .listItem .code
{
  position: absolute;
  left: 0;
  top: -9px;
  background: darkblue;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
}

#Backdoor .wrap .listItem.hide
{
  display: none;
}

#Backdoor .wrap .getBtn,
#Backdoor .wrap .getEnhancementGiftBtn,
#Backdoor .wrap .setComposeBtn,
#Backdoor .wrap .set01GetBtn,
#Backdoor .wrap .set02GetBtn,
#Backdoor .wrap .setStickerGetBtn,
#Backdoor .wrap .setEventGetBtn
{
  position: absolute;
  right: 3px;
  bottom: 3px;
}

#Backdoor .wrap .getBtn.off,
#Backdoor .wrap .getEnhancementGiftBtn.off,
#Backdoor .wrap .setComposeBtn.off,
#Backdoor .wrap .set01GetBtn.off,
#Backdoor .wrap .set02GetBtn.off,
#Backdoor .wrap .setStickerGetBtn.off,
#Backdoor .wrap .setEventGetBtn.off
{
  pointer-events: none;
  -webkit-filter: grayscale(100%);
}

#Backdoor .wrap .specifyBtn
{
  position: absolute;
  right: 112px;
  bottom: 3px;
}

#Backdoor .wrap .specifyBtn.off
{
  pointer-events: none;
  -webkit-filter: grayscale(100%);
}

#Backdoor .wrap .getMaxBtn,
#Backdoor .wrap .getDoppelBtn
{
  position: absolute;
  right: 3px;
  bottom: 58px;
}

#Backdoor .wrap .getMaxBtn
{
  font-size: 10px;
}

#Backdoor .controlWrap
{
  display: none;
}

#Backdoor .controlWrap.show
{
  display: block;
}

#Backdoor #giftWrap #nameForm,
#Backdoor #charaWrap #nameForm
{
  width: 600px;
  padding: 15px 15px 30px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Backdoor #giftWrap #nameForm input,
#Backdoor #charaWrap #nameForm input
{
  margin: 0 0 0 10px;
  padding: 0 10px;
  background: #fff;
  line-height: 3;
  border: 2px solid #333;
  -webkit-border-radius: 5px;
}

#Backdoor #giftWrap #nameForm input:focus,
#Backdoor #charaWrap #nameForm input:focus
{
  border: 2px #00bfff solid;
  -webkit-border-radius: 5px;
}

#Backdoor #giftWrap.wrap .VOID,
#Backdoor #giftWrap.wrap .FIRE,
#Backdoor #giftWrap.wrap .WATER,
#Backdoor #giftWrap.wrap .TIMBER,
#Backdoor #giftWrap.wrap .LIGHT,
#Backdoor #giftWrap.wrap .DARK,
#Backdoor #giftWrap.wrap .ALL,
#Backdoor #charaWrap.wrap .VOID,
#Backdoor #charaWrap.wrap .FIRE,
#Backdoor #charaWrap.wrap .WATER,
#Backdoor #charaWrap.wrap .TIMBER,
#Backdoor #charaWrap.wrap .LIGHT,
#Backdoor #charaWrap.wrap .DARK,
#Backdoor #charaWrap.wrap .ALL
{
  display: none;
}

#Backdoor #giftWrap.wrap.VOID .VOID,
#Backdoor #giftWrap.wrap.FIRE .FIRE,
#Backdoor #giftWrap.wrap.WATER .WATER,
#Backdoor #giftWrap.wrap.TIMBER .TIMBER,
#Backdoor #giftWrap.wrap.LIGHT .LIGHT,
#Backdoor #giftWrap.wrap.DARK .DARK,
#Backdoor #charaWrap.wrap.VOID .VOID,
#Backdoor #charaWrap.wrap.FIRE .FIRE,
#Backdoor #charaWrap.wrap.WATER .WATER,
#Backdoor #charaWrap.wrap.TIMBER .TIMBER,
#Backdoor #charaWrap.wrap.LIGHT .LIGHT,
#Backdoor #charaWrap.wrap.DARK .DARK
{
  display: block;
}

#Backdoor #giftWrap.wrap.ALL div,
#Backdoor #charaWrap.wrap.ALL div
{
  display: block;
}

#Backdoor #giftWrap.wrap .hide,
#Backdoor #charaWrap.wrap .hide
{
  display: none !important;
}

#Backdoor #giftWrap.wrap .filterBtn,
#Backdoor #charaWrap.wrap .filterBtn
{
  width: 760px;
  margin: 0 0 10px 10px;
  text-align: left;
}

#Backdoor #giftWrap.wrap .filterBtn .common_tab,
#Backdoor #charaWrap.wrap .filterBtn .common_tab
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Backdoor #giftWrap.wrap .filterBtn li,
#Backdoor #charaWrap.wrap .filterBtn li
{
  min-width: 106px !important;
}

#Backdoor #giftWrap.wrap .filterBtn li img,
#Backdoor #charaWrap.wrap .filterBtn li img
{
  width: 40px;
  margin: -5px 0 0 0;
  -webkit-filter: drop-shadow(0 0 3px #4e391a);
  filter: drop-shadow(0 0 3px #4e391a);
}

#Backdoor #memoriaWrap .showAllBtn
{
  width: 100%;
  margin-bottom: 15px;
}

#Backdoor #memoriaControlWrap
{
  position: fixed;
  position: fixed;
  bottom: 0;
  left: 240px;
  z-index: 200;
  padding: 12px 4px 0px 15px;
}

#Backdoor #memoriaControlWrap .scrollBtn
{
  width: 760px;
  margin: 0 0 15px 0;
  text-align: left;
}

#Backdoor #memoriaControlWrap .scrollBtn .common_tab
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Backdoor #memoriaControlWrap .scrollBtn li
{
  width: 105px;
  min-width: 105px;
  height: 36px;
  margin-right: 2px;
  background-size: 90px 100%;
  position: relative;
}

#Backdoor #memoriaControlWrap .scrollBtn li span
{
  height: 36px;
  position: absolute;
  font-size: 14px;
  line-height: 36px;
}

#Backdoor #memoriaControlWrap .scrollBtn li:before,
#Backdoor #memoriaControlWrap .scrollBtn li:after
{
  width: 15px;
}

#Backdoor #memoriaControlWrap #memoriaScrollInput
{
  position: absolute;
  right: 110px;
  top: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  -webkit-user-select: auto !important;
  -webkit-touch-callout: default !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

#Backdoor #memoriaControlWrap #memoriaScrollBtn
{
  position: absolute;
  right: 13px;
  top: 16px;
  width: 100px;
}
