#charaListWrap.hide
{
  display: none;
}

#BackdoorLive2d
{
  width: 1024px;
  height: 100%;
  position: relative;
}

#BackdoorLive2d #backdoorLive2dList ul
{
  margin: 0 0 30px;
}

#BackdoorLive2d #backdoorLive2dList li
{
  width: 120px;
  margin: 5px 5px 5px 0px !important;
}

#BackdoorLive2d #charaListShow
{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#BackdoorLive2d .wrap
{
  width: 450px;
  height: -webkit-calc(100% - 200px);
  position: absolute;
  top: 80px;
  right: 10px;
}

#BackdoorLive2d #backdoorListWrap
{
  width: 100%;
  height: 100%;
  padding-right: 20px;
  overflow: hidden;
  z-index: 10000;
}

#BackdoorLive2d #backdoorListWrap .backdoorList
{
  height: auto;
  min-height: 100%;
  padding: 20px 20px 106px 0;
}

#BackdoorLive2d #backdoorListWrap .backdoorList li
{
  margin: 0 0 5px;
}

#BackdoorLive2d #backdoorListWrap .backdoorList li a,
#BackdoorLive2d #backdoorListWrap .backdoorList li span
{
  width: 455px;
  height: 70px;
}

#BackdoorLive2d .common_title_frame
{
  margin: 5px auto 8px;
  display: block;
}

#BackdoorLive2d .commonFrame3
{
  margin-bottom: 15px;
}

#BackdoorLive2d .commonFrame4
{
  height: 50px;
  padding-left: 10px;
  display: block;
  line-height: 50px;
}

#BackdoorLive2d .commonFrame4:not(:last-child)
{
  margin-bottom: 8px;
}
