#CreateTestUser
{
  width: 1024px;
  height: 100%;
  padding: 20px;
}

#CreateTestUser .commonFrame1
{
  padding: 100px 20px 20px;
  height: 100%;
}

#CreateTestUser .commonFrame1 .mainWrap
{
  width: 100%;
  text-align: center;
}

#CreateTestUser .commonFrame1 .mainWrap p
{
  font-size: 22px;
}

#CreateTestUser .commonFrame1 .mainWrap .commonInput
{
  margin: 10px 0;
}

#CreateTestUser .commonFrame1 .mainWrap .flexBox
{
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  -webkit-justify-content: center;
  justify-content: center;
}

#CreateTestUser .commonFrame1 .mainWrap .flexBox .btn
{
  width: 240px;
  margin: 0 20px;
}
