body
{
  background: rgba(0, 0, 0, 0.3);
}

#IphoneTest
{
  width: 1024px;
  height: 100%;
  position: relative;
  background: rgba(255, 0, 0, 0.3);
}

#IphoneTest #leftItem
{
  width: 2000px;
  height: 300px;
  background: rgba(0, 255, 0, 0.3);
  position: absolute;
  top: 80px;
  left: -1775px;
}

#IphoneTest #leftItem .box200
{
  width: 200px;
  height: 250px;
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgba(255, 255, 255, 0.3);
}

#IphoneTest #rightItem
{
  width: 2000px;
  height: 300px;
  background: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 80px;
  right: -1775px;
}

#IphoneTest #rightItem .box200
{
  width: 200px;
  height: 250px;
  position: absolute;
  top: 25px;
  left: 25px;
  background: rgba(255, 255, 255, 0.3);
}

#IphoneTest #bottomItem
{
  width: 1500px;
  height: 1000px;
  position: absolute;
  bottom: -875px;
  left: -webkit-calc(100% - 825px);
  background: rgba(0, 0, 255, 0.3);
}

#IphoneTest #bottomItem .box800
{
  width: 800px;
  height: 100px;
  position: absolute;
  top: 25px;
  left: 25px;
  background: rgba(255, 255, 255, 0.3);
}
