#MailSendTest
{
  width: 100%;
  margin: 80px 0 0 0;
}

#MailSendTest .sendMailSec,
#MailSendTest .sendAuthNumSec
{
  width: 80%;
  margin: 40px auto 0;
  padding: 50px 0 30px 0;
}

#MailSendTest .sendMailSec .innerSec,
#MailSendTest .sendAuthNumSec .innerSec
{
  text-align: center;
}

#MailSendTest .sendMailSec p,
#MailSendTest .sendAuthNumSec p
{
  font-size: 120%;
}

#MailSendTest .sendMailSec .inputSec,
#MailSendTest .sendAuthNumSec .inputSec
{
  display: inline-block;
  width: 500px;
  height: auto;
  padding: 5px 10px;
  background-color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #c6a882;
  color: #333;
  text-shadow: none;
}

#MailSendTest .sendMailSec .btn,
#MailSendTest .sendAuthNumSec .btn
{
  display: inline-block;
}
