.historyPop #historyScrollWrap
{
  height: 322px;
  margin-top: 5px;
  overflow-y: hidden;
}

.historyPop #historyScrollWrap .scrollInner
{
  height: auto;
  min-height: 100%;
  text-align: left;
}

.historyPop #historyList li
{
  display: inline-block;
  text-align: right;
  width: 250px;
  margin-bottom: 10px;
}

.historyPop #historyList li div
{
  display: inline-block;
}

.historyPop #historyList li .sid
{
  margin-right: 10px;
  font-size: 18px;
  color: #f00;
}

.historyPop #historyList li .inputBtn
{
  right: 0px;
  bottom: 0;
  font-size: 16px;
}

.historyPop #historyList li.read .sid
{
  color: #000;
}

.historyPop #historyDeleteBtn
{
  position: absolute;
  right: 0px;
  bottom: -10px;
  font-size: 16px;
}

.historyPop .caution
{
  position: absolute;
  left: 0;
  width: 740px;
  bottom: 0;
  font-size: 20px;
}

#StoryTest
{
  width: 1024px;
  height: 100%;
  padding-top: 90px;
  margin-bottom: 0;
  position: relative;
}

#StoryTest input.commonInput
{
  -webkit-user-select: auto !important;
  -webkit-touch-callout: default !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

#StoryTest input.commonInput.error
{
  background: red;
}

#StoryTest #storyStart
{
  font-size: 16px;
}

#StoryTest #questStoryStart
{
  font-size: 16px;
  margin-left: 45px;
}

#StoryTest #saveStoryStart
{
  position: absolute;
  left: 0px;
  top: -5px;
  z-index: 100;
  font-size: 16px;
  margin-left: 45px;
}

#StoryTest #storedStoryStart
{
  position: absolute;
  left: 255px;
  top: -5px;
  z-index: 100;
}

#StoryTest #storedStoryCheck
{
  position: absolute;
  left: 395px;
  top: -5px;
  z-index: 100;
}

#StoryTest #pasteBtn
{
  position: absolute;
  left: 306px;
  top: 51px;
  width: 100px;
  margin: 5px;
  padding: 0 15px;
}

#StoryTest #historyBtn
{
  position: absolute;
  left: 418px;
  top: 51px;
  width: 100px;
  margin: 5px;
  padding: 0 15px;
}

#StoryTest #idBtnList,
#StoryTest #indexBtnList
{
  position: absolute;
  width: 255px;
  top: 230px;
  height: 210px;
}

#StoryTest #idBtnList div,
#StoryTest #indexBtnList div
{
  margin: 0 10px 20px 10px;
}

#StoryTest #idBtnList
{
  left: 10px;
}

#StoryTest #indexBtnList
{
  left: 275px;
}

#StoryTest #keyBtnWrap
{
  position: absolute;
  left: 540px;
  top: 10px;
  width: 270px;
  height: 450px;
}

#StoryTest #keyBtnWrap ul
{
  width: 100%;
}

#StoryTest #keyBtnWrap ul li
{
  display: inline-block;
  margin: 5px;
  padding: 0 15px;
}

#StoryTest #keyBtnWrap ul li:nth-child(-n + 4)
{
  width: 108px;
}

#StoryTest #keyBtnWrap ul li:nth-child(3)
{
  margin-bottom: 8px;
}

#StoryTest #keyBtnWrap ul li:not(.inputTextBtn)
{
  margin-top: 8px;
  width: 112px;
}

#StoryTest .commonFrame1
{
  width: 80%;
  height: -webkit-calc(100% - 20px);
  margin: 0 auto;
  padding: 60px 30px 30px;
}

#StoryTest .commonFrame1 .commonInput
{
  width: 260px;
  height: 40px;
  margin-bottom: 30px;
}
