@charset "UTF-8";

#ShopReworkTest
{
  width: 1024px;
  height: 100%;
  padding-top: 90px;
  position: relative;
}

#ShopReworkTest #debugBtn
{
  position: absolute;
  top: 8px;
  right: 200px;
}

#ShopReworkTest #shopTitle
{
  width: 653px;
  height: 42px;
  background: url("/magica/resource/image_web/test/shop/title_bg.png") left center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 56px;
  right: 29px;
  line-height: 42px;
  padding-left: 36px;
  font-size: 16px;
}

#ShopReworkTest #shopTitle.hide
{
  display: none;
}

#ShopReworkTest #perShopTitle
{
  width: 710px;
  height: 42px;
  background: url("/magica/resource/image_web/test/shop/title_bg.png") left center no-repeat;
  position: absolute;
  top: 56px;
  right: 29px;
  line-height: 42px;
  padding-left: 36px;
  font-size: 16px;
}

#ShopReworkTest #perShopTitle.hide
{
  display: none;
}

#ShopReworkTest #backListBtn
{
  width: 96px;
  height: 65px;
  background-image: url("/magica/resource/image_web/common/global/global_back.png");
  background-repeat: no-repeat;
  background-position: right 9px;
  background-size: 89px 43px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 101;
  -webkit-filter: brightness(100%);
}

#ShopReworkTest #backListBtn.hide
{
  display: none;
}

#ShopReworkTest #shopList
{
  width: 680px;
  height: -webkit-calc(100% - 98px);
  position: absolute;
  top: 98px;
  right: 17px;
  overflow: hidden;
}

#ShopReworkTest #shopList.hide
{
  display: none;
}

#ShopReworkTest #shopList.another .listRow .logo
{
  width: 240px;
  height: 44px;
  left: 30px;
  top: 20px;
  text-align: left;
  padding: 0px 20px;
}

#ShopReworkTest #shopList.another .listRow .logo .logoImg
{
  width: 140px;
  height: 44px;
  margin: 0px auto;
}

#ShopReworkTest #shopList.another .listRow.special .logo
{
  top: 6px;
}

#ShopReworkTest #shopList.another .listRow .limit
{
  width: 240px;
  background: none;
  color: #fff;
  text-shadow: -1px -1px 1px #ff5e7c, 1px -1px 1px #ff5e7c, -1px 1px 1px #ff5e7c, 1px 1px 1px #ff5e7c, -1px -1px #ff5e7c, 1px -1px #ff5e7c, -1px 1px #ff5e7c, 1px 1px #ff5e7c, -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c, -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c, -1px -1px 3px #ff5e7c, 1px -1px 3px #ff5e7c, -1px 1px 3px #ff5e7c, 1px 1px 3px #ff5e7c;
  top: 54px;
  left: 30px;
}

#ShopReworkTest #shopList.another .listRow .useMoney
{
  width: 320px;
  height: 84px;
  top: 0px;
  left: auto;
  right: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

#ShopReworkTest #shopList.another .listRow .useMoney .moneyNum
{
  margin-top: 5px;
  margin-bottom: 5px;
}

#ShopReworkTest #shopList.another2nd .listRow .logo
{
  width: 240px;
  height: 44px;
  left: 18px;
  top: 20px;
  text-align: left;
  padding: 0px 20px;
}

#ShopReworkTest #shopList.another2nd .listRow .logo .logoImg
{
  width: 140px;
  height: 44px;
  margin: 0px auto;
}

#ShopReworkTest #shopList.another2nd .listRow .limit
{
  width: 240px;
  background: none;
  color: #fff;
  text-shadow: -1px -1px 1px #ff5e7c, 1px -1px 1px #ff5e7c, -1px 1px 1px #ff5e7c, 1px 1px 1px #ff5e7c, -1px -1px #ff5e7c, 1px -1px #ff5e7c, -1px 1px #ff5e7c, 1px 1px #ff5e7c, -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c, -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c, -1px -1px 3px #ff5e7c, 1px -1px 3px #ff5e7c, -1px 1px 3px #ff5e7c, 1px 1px 3px #ff5e7c;
  top: 50px;
  left: 216px;
}

#ShopReworkTest #shopList.another2nd .listRow.special .useMoney
{
  top: 20px;
}

#ShopReworkTest #shopList.another2nd .listRow .useMoney
{
  width: 400px;
  height: 20px;
  top: 32px;
  left: auto;
  right: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

#ShopReworkTest #shopList.another2nd .listRow .useMoney .moneyNum
{
  width: 84px;
  background-size: 84px 19px;
  padding-right: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#ShopReworkTest #shopList.another2nd .listRow .useMoney .moneyNum:before
{
  display: none;
}

#ShopReworkTest #shopList .scrollInner
{
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

#ShopReworkTest #shopList .listRow
{
  width: 680px;
  height: 84px;
  background: url("/magica/resource/image_web/test/shop/bg_shop_list.png") left top no-repeat;
  margin-top: 4px;
  position: relative;
}

#ShopReworkTest #shopList .listRow .limit
{
  width: 244px;
  height: 21px;
  background: url("/magica/resource/image_web/test/shop/bg_shop_list_date.png") left top no-repeat;
  position: absolute;
  top: 5px;
  left: 16px;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

#ShopReworkTest #shopList .listRow .limit .limitDate
{
  color: #fff;
  padding: 0px 4px;
}

#ShopReworkTest #shopList .listRow .logo
{
  width: 420px;
  height: 44px;
  position: absolute;
  top: 6px;
  left: 130px;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
}

#ShopReworkTest #shopList .listRow .useMoney
{
  width: 670px;
  height: 19px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#ShopReworkTest #shopList .listRow .useMoney .moneyNum
{
  width: 136px;
  height: 19px;
  background: url("/magica/resource/image_web/test/shop/bg_shop_item_mun.png");
  position: relative;
  margin: 0px 8px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
}

#ShopReworkTest #shopList .listRow .useMoney .moneyNum .imgIcon
{
  width: 26px;
  height: 26px;
  position: absolute;
  top: -3px;
  left: -13px;
}

#ShopReworkTest #shopList .listRow .useMoney .moneyNum .hasNum,
#ShopReworkTest #shopList .listRow .useMoney .moneyNum:before
{
  color: #fff;
}

#ShopReworkTest #shopList .listRow .useMoney .moneyNum:before
{
  content: "所持";
  position: absolute;
  top: 0px;
  left: 16px;
  color: #fff;
}

#ShopReworkTest #mainWrap
{
  width: 712px;
  height: -webkit-calc(100% - 120px);
  position: absolute;
  top: 108px;
  right: 26px;
}

#ShopReworkTest #mainWrap.hide
{
  display: none;
}

#ShopReworkTest #mainWrap #itemNums
{
  width: 700px;
  height: 32px;
  background: url("/magica/resource/image_web/common/frame/frame_title.png") left top no-repeat;
  padding: 8px 20px 0 0;
  background-size: 458px 32px;
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 18px;
  line-height: 32px;
  border-radius: 10px 0 0 0;
  z-index: 1;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#ShopReworkTest #mainWrap #itemNums .moneyNum:nth-child(1)
{
  margin-left: 0px;
}

#ShopReworkTest #mainWrap #itemNums .moneyNum
{
  width: 136px;
  height: 19px;
  background: url("/magica/resource/image_web/test/shop/bg_shop_item_mun.png");
  position: relative;
  margin-left: 18px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  line-height: 20px;
}

#ShopReworkTest #mainWrap #itemNums .moneyNum .imgIcon
{
  width: 26px;
  height: 26px;
  position: absolute;
  top: -3px;
  left: -13px;
}

#ShopReworkTest #mainWrap #itemNums .moneyNum .hasNum,
#ShopReworkTest #mainWrap #itemNums .moneyNum:before
{
  color: #fff;
}

#ShopReworkTest #mainWrap #itemNums .moneyNum:before
{
  content: "所持";
  position: absolute;
  top: 0px;
  left: 16px;
  color: #fff;
}

#ShopReworkTest #mainWrap #itemListWrap
{
  width: 696px;
  height: -webkit-calc(100% - 49px);
  position: absolute;
  top: 37px;
  left: 10px;
  overflow: hidden;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner
{
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
  padding-top: 8px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap
{
  width: 684px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 10px 10px 10px 10px;
  position: relative;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap:not(.off)
{
  -webkit-order: -1;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap.off
{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  pointer-events: none;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap.none
{
  display: none !important;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap.thisHad .recommend
{
  display: block;
  background: url("/magica/resource/image_web/page/shop/icon_purchased.png") left top no-repeat;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .recommend
{
  width: 57px;
  height: 60px;
  background: url("/magica/resource/image_web/page/shop/icon_recommend.png") left top no-repeat;
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 500;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .recommend.on
{
  display: block;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap
{
  width: 78px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet
{
  background: url("/magica/resource/image_web/item/main/item_bg.png") left center no-repeat;
  background-size: 78px 78px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase
{
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #4d4462;
  position: absolute;
  top: -webkit-calc(50% - 25px);
  left: -webkit-calc(50% - 25px);
  border-radius: 5px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner
{
  width: 40px;
  height: 40px;
  background-color: #736080;
  position: relative;
  border-radius: 5px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols
{
  width: 10px;
  height: 10px;
  background-color: #736080;
  position: absolute;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.on
{
  background-color: #f4e0ca;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation1,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation4,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation7
{
  top: 27px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation2,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation5,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation8
{
  top: 15px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation3,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation6,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation9
{
  top: 3px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation1,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation2,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation3
{
  left: 3px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation4,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation5,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation6
{
  left: 15px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation7,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation8,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.formation_sheet .formationBase .formationInner .cols.formation9
{
  left: 27px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.live2d
{
  background: url("/magica/resource/image_web/item/main/live2d.png") left center no-repeat;
  background-size: 78px 78px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.doppel
{
  background: url("/magica/resource/image_web/item/main/doppel.png") left center no-repeat;
  background-size: 78px 78px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .commonItemImg
{
  width: 78px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .quantity
{
  position: absolute;
  color: #fff;
  text-shadow: -1px -1px 1px #8a5f29, 1px -1px 1px #8a5f29, -1px 1px 1px #8a5f29, 1px 1px 1px #8a5f29, -1px -1px #8a5f29, 1px -1px #8a5f29, -1px 1px #8a5f29, 1px 1px #8a5f29, -1px -1px 2px #8a5f29, 1px -1px 2px #8a5f29, -1px 1px 2px #8a5f29, 1px 1px 2px #8a5f29, -1px -1px 2px #8a5f29, 1px -1px 2px #8a5f29, -1px 1px 2px #8a5f29, 1px 1px 2px #8a5f29, -1px -1px 3px #8a5f29, 1px -1px 3px #8a5f29, -1px 1px 3px #8a5f29, 1px 1px 3px #8a5f29;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .charaIcon
{
  width: 58px;
  height: 52px;
  position: absolute;
  bottom: 5px;
  right: -12px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .charaIcon:before
{
  width: 58px;
  height: 52px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  background: url("/magica/resource/image_web/common/chara/chara_frame_S.png") left top no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .charaIcon:after
{
  width: 58px;
  height: 52px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  background: url("/magica/resource/image_web/common/chara/chara_base_S.png") left top no-repeat;
  background-size: 100% 100%;
  z-index: 80;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .charaIcon .maskWrap
{
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 26px);
  z-index: 90;
  overflow: hidden;
  border-radius: 26px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap .charaIcon .maskWrap img
{
  width: 60px;
  height: auto;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 30px);
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap
{
  left: 15px;
  top: 0.5px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.live2d .charaIcon,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.doppel .charaIcon
{
  bottom: 0;
  right: -8px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.live2d .charaIcon .maskWrap img,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .commonItemImgWrap.doppel .charaIcon .maskWrap img
{
  max-width: 100%;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemName
{
  width: 330px;
  max-width: 330px;
  display: block;
  position: absolute;
  top: 10px;
  left: 105px;
  overflow: hidden;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .description
{
  width: 566px;
  height: 21px;
  position: absolute;
  top: 39px;
  left: 105px;
  overflow: hidden;
  font-size: 14px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemCost
{
  width: 155px;
  height: 24px;
  padding-right: 15px;
  position: absolute;
  top: 7px;
  right: 2px;
  text-align: right;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemCost .pointFrame
{
  width: 140px;
  margin-left: 6px;
  text-align: right;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemCost .purchasedIcon
{
  width: 34px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -32px;
  z-index: 11;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemCost .costIcon
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: -2px;
  z-index: 10;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl
{
  height: 25px;
  position: absolute;
  bottom: 7px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dt,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dd,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl dt,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl dd,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl dt,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl dd
{
  font-size: 16px;
  line-height: 22px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dt,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl dt,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl dt
{
  width: 80px;
  padding: 0 5px;
  background-color: #f86688;
  border-color: #f86688;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dd,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl dd,
#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl dd
{
  background-color: #ffffff;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl
{
  right: 396px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl.none
{
  display: none;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dt
{
  width: 74px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .had_dl dd
{
  width: 110px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl
{
  right: 182px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .limit_dl dd
{
  width: 130px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl
{
  right: 3px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .amount_dl dd
{
  width: 95px;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemAmount
{
  width: 170px;
  position: absolute;
  bottom: 5px;
  color: #333333;
  font-size: 13px;
  text-align: center;
  text-shadow: none;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemAmount .itemAmountNumber
{
  width: 182px;
  display: inline-block;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: -.05em;
  text-shadow: none;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .itemImage
{
  width: 78px;
  position: absolute;
  top: 0;
  left: 0;
}

#ShopReworkTest #mainWrap #itemListWrap .scrollInner .shopItemWrap .userCharaIcon
{
  width: 78px;
  height: 78px;
}
