#mainContent #StyleTemplate
{
  width: 1024px;
  height: -webkit-calc(100% - 60px);
  position: relative;
  top: 60px;
  overflow: hidden;
}

#mainContent #StyleTemplate .scrollInner
{
  width: 100%;
  height: auto;
  min-height: 100%;
}

#mainContent #StyleTemplate #comonBtnList .commonFrame2
{
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}

#mainContent #StyleTemplate #comonBtnList .commonFrame2 .sb_gold_01,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .sb_gold_02,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .sb_gold_03,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .mb_pink,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .mb_white,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_pink,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_white,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_pale,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_blue,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_green,
#mainContent #StyleTemplate #comonBtnList .commonFrame2 .b_purple
{
  margin: 5px auto;
}

#mainContent #StyleTemplate .imgWrap .size-l
{
  width: 176px;
}

#mainContent #StyleTemplate .imgWrap .size-s
{
  width: 104px;
}

#mainContent #StyleTemplate .commonFrame1
{
  padding-top: 44px;
  vertical-align: top;
  display: inline-block;
}

#mainContent #StyleTemplate .commonFrame3
{
  padding-top: 34px;
  vertical-align: top;
  display: inline-block;
}

#mainContent #StyleTemplate .commonFrame4
{
  padding-top: 10px;
  vertical-align: top;
  display: inline-block;
}

#mainContent #StyleTemplate .common_tab li
{
  width: 300px;
  display: inline-block;
}
