<div id="ComposeResult">
  <h1>ComposeResult</h1>
  <span class="linkBtn btn" data-href="#/MyPage">マイページへ</span>
  <span class="linkBtn btn" data-href="#/ComposeTop">ComposeTopへ</span>
  <div>
    <p>強化前</p>
    <p>Lv. : <%=model.composeTarget.level%>/<%=model.composeTarget.maxLevel%></p>
    <p>限界突破 : <%=model.composeTarget.lbCount%></p>
    <p>ATK : <%=model.composeTarget.attack%></p>
    <p>DEF : <%=model.composeTarget.defense%></p>
    <p>HP : <%=model.composeTarget.hp%></p>
    <p>SPE : <%=model.composeTarget.speed%></p>
  </div>
  <div>
    <p>強化後</p>
  </div>
</div>
