#globalMenuContainer
{
  display: none;
}

.touch
{
  -webkit-transform: scale(0.95) translateZ(0) !important;
}

.equipMemoriaStatus
{
  width: 118px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.equipMemoriaStatus .dtElm,
.equipMemoriaStatus .ddElm
{
  height: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 20px;
}

.equipMemoriaStatus .dtElm:nth-child(5),
.equipMemoriaStatus .dtElm:nth-child(6),
.equipMemoriaStatus .ddElm:nth-child(5),
.equipMemoriaStatus .ddElm:nth-child(6)
{
  margin-bottom: 0px;
}

.equipMemoriaStatus .dtElm
{
  width: 52px;
  background: #b28750;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.equipMemoriaStatus .ddElm
{
  min-width: 58px;
  text-align: left;
}

#MemoriaEquip
{
  width: 1024px;
  height: 100%;
  position: relative;
}

#MemoriaEquip #equipDetailWrap
{
  width: 812px;
  height: 148px;
  background: url("/magica/resource/image_web/page/memoria/equip/bg_set.png") left top no-repeat;
  position: absolute;
  top: 0;
  left: -194px;
  z-index: 100;
}

#MemoriaEquip #equipDetailWrap .nameWrap
{
  width: 618px;
  height: 34px;
  padding: 2px 0 0 50px;
  background: url("/magica/resource/image_web/page/gacha/selectable/bg_memoria_name.png") left top no-repeat;
  position: absolute;
  top: 0;
  left: 194px;
}

#MemoriaEquip #equipDetailWrap .nameWrap .name
{
  font-size: 20px;
}

#MemoriaEquip #equipDetailWrap .memoriaWrap
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 47px;
  left: 234px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#MemoriaEquip #equipDetailWrap .memoriaWrap>div
{
  width: 88px;
  height: 88px;
  margin-right: 21px;
  background: red;
  background: url("/magica/resource/image_web/common/memoria/bg_memoria_none.png") left top no-repeat;
  background-size: 88px 88px;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#MemoriaEquip #equipDetailWrap .memoriaWrap>div.canSet
{
  background: url("/magica/resource/image_web/common/memoria/btn_memoria_equip.png") left top no-repeat;
  background-size: 88px 88px;
}

#MemoriaEquip #equipDetailWrap .memoriaWrap>div .memoriaImg
{
  width: 88px;
  height: 88px;
}

#MemoriaEquip #equipDetailWrap .memoriaWrap>div .overWrap
{
  width: 96px;
  height: 96px;
  display: none;
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid #ff3b81;
  border-radius: 16px 10px 10px 10px;
}

#MemoriaEquip #equipDetailWrap .memoriaWrap>div.selected .overWrap
{
  display: block;
}

#MemoriaEquip #equipDetailWrap #mainBtn
{
  width: 112px;
  height: 118px;
  background: url("/magica/resource/image_web/page/memoria/equip/btn_ok.png") left top no-repeat;
  position: absolute;
  right: 14px;
  bottom: 15px;
}

#MemoriaEquip #equipDetailWrap #mainBtn.off
{
  background: url("/magica/resource/image_web/page/memoria/equip/btn_ok_gray.png") left top no-repeat;
  pointer-events: none;
}

#MemoriaEquip #sizeChange
{
  position: absolute;
  bottom: 26px;
  left: 10px;
}

#MemoriaEquip #memoriaListTitle
{
  width: 566px;
  height: 44px;
  background: url("/magica/resource/image_web/page/gacha/selectable/memoria_headerpanel.png") left top no-repeat;
  position: absolute;
  top: 157px;
  left: 50px;
  z-index: 100;
}

#MemoriaEquip #memoriaListTitle .hasMemoriaNum
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 11px;
  left: 32px;
  font-size: 18px;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#MemoriaEquip #memoriaListTitle .hasMemoriaNum p
{
  color: #ffffff;
  line-height: 22px;
}

#MemoriaEquip #memoriaListTitle .hasMemoriaNum .title
{
  width: 106px;
  height: 22px;
  margin-right: 8px;
  background: #ffffff;
  color: #a47122;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

#MemoriaEquip #memoriaListTitle .allRemoveBtn
{
  width: 108px;
  position: absolute;
  top: 4px;
  left: 444px;
}

#MemoriaEquip #memoriaListTitle .allRemoveBtn.off
{
  -webkit-filter: grayscale(100%) brightness(70%);
  filter: grayscale(100%) brightness(70%);
  pointer-events: none;
}

#MemoriaEquip #memoriaListWrap
{
  width: 542px;
  height: -webkit-calc(100% - 192px);
  position: absolute;
  top: 182px;
  left: 74px;
  z-index: 10;
}

#MemoriaEquip #memoriaListWrap.cantTap .memoriaSetCaution
{
  display: block;
}

#MemoriaEquip #memoriaListWrap.cantTap .userMemoriaIcon .overWrap
{
  width: 100%;
  height: 100%;
  background: url("/magica/resource/image_web/common/memoria/memoria_disable.png") left top no-repeat;
  background-size: contain;
  display: block;
  position: relative;
  z-index: 11;
}

#MemoriaEquip #memoriaListWrap .memoriaSetCaution
{
  width: 542px;
  height: 40px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0) 100%);
  display: block;
  display: none;
  position: absolute;
  top: -webkit-calc(50% - 15px);
  left: 0;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  pointer-events: none;
  z-index: 100000;
}

#MemoriaEquip #memoriaListWrap #scrollOuter
{
  width: 478px;
  height: -webkit-calc(100% - 36px);
  position: relative;
  position: absolute;
  top: 22px;
  left: 32px;
  overflow: hidden;
  z-index: 10000;
}

#MemoriaEquip #memoriaListWrap #scrollOuter .scrollInner
{
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 4px 0 10px 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

#MemoriaEquip #memoriaListWrap #scrollOuter .scrollInner .userMemoriaIcon
{
  margin: 10px 15px 10px;
  position: relative;
}

#MemoriaEquip #memoriaListWrap.smaller #scrollOuter .scrollInner .userMemoriaIcon
{
  margin: 6px 9px 5px;
}

#MemoriaEquip #memoriaListWrap.smallest #scrollOuter
{
  left: 35px;
}

#MemoriaEquip #memoriaListWrap.smallest #scrollOuter .scrollInner .userMemoriaIcon
{
  margin: 6px 3px 4px;
}

#MemoriaEquip #equipInfo
{
  width: 388px;
  height: 551px;
  position: absolute;
  top: 12px;
  right: -15px;
  z-index: 100;
}

#MemoriaEquip #equipInfo #memoriaEquipBtn
{
  min-width: 170px;
  position: absolute;
  bottom: 50px;
  left: 104px;
}

#MemoriaEquip #equipInfo .name
{
  width: 402px;
  height: 34px;
  padding-left: 42px;
  background: url("/magica/resource/image_web/page/gacha/selectable/memoria_equip_title.png") left top no-repeat;
  position: absolute;
  top: 18px;
  right: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 34px;
  text-shadow: 2px 0 2px #ff5e7c,
    -2px 0 2px #ff5e7c,
    0 2px 2px #ff5e7c,
    0 -2px 2px #ff5e7c,
    2px 2px 2px #ff5e7c,
    -2px 2px 2px #ff5e7c,
    2px -2px 2px #ff5e7c,
    -2px -2px 2px #ff5e7c;
  z-index: 100;
}

#MemoriaEquip #equipInfo .memoriaImg
{
  width: 164px;
  height: 248px;
  background: url("/magica/resource/image_web/page/gacha/selectable/bg_memoria_none.png") left top no-repeat;
  background: contain;
  position: absolute;
  top: 62px;
  left: 29px;
}

#MemoriaEquip #equipInfo .memoriaImg img
{
  width: 100%;
  height: 100%;
}

#MemoriaEquip #equipInfo .equipMemoriaStatus
{
  position: absolute;
  top: 110px;
  left: 208px;
}

#MemoriaEquip #equipInfo .equipMemoriaStatus .ddElm
{
  font-size: 16px;
}

#MemoriaEquip #equipInfo .rarity
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 76px;
  left: 254px;
}

#MemoriaEquip #equipInfo .rarity span
{
  width: 21px;
  height: 23px;
  background: url("/magica/resource/image_web/common/icon/memoria_rarity.png") left top no-repeat;
  background: contain;
}

#MemoriaEquip #equipInfo .lb
{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 187px;
  left: 210px;
}

#MemoriaEquip #equipInfo .lb span
{
  width: 20px;
  height: 20px;
  background: url("/magica/resource/image_web/page/memoria/memoria_limitbrake_frame.png") left top no-repeat;
  display: block;
}

#MemoriaEquip #equipInfo .lb span.on
{
  background: url("/magica/resource/image_web/page/memoria/memoria_limitbreak_on.png") left top no-repeat;
}

#MemoriaEquip #equipInfo .memoriaTypeIcon
{
  position: absolute;
  left: 206px;
  top: 60px;
  width: 46px;
  height: 46px;
}

#MemoriaEquip #equipInfo .memoriaTypeIcon.SKILL
{
  background: url("/magica/resource/image_web/page/gacha/selectable/memoria_icon_skill.png");
}

#MemoriaEquip #equipInfo .memoriaTypeIcon.ABILITY
{
  background: url("/magica/resource/image_web/page/gacha/selectable/memoria_icon_ability.png");
}

#MemoriaEquip #equipInfo .intervalTurn
{
  position: absolute;
  top: 291px;
  left: 210px;
  font-size: 14px;
}

#MemoriaEquip #equipInfo .skillTitle
{
  width: 377px;
  height: 54px;
  background: url("/magica/resource/image_web/page/gacha/selectable/memoria_skill_base.png") left top no-repeat;
  position: absolute;
  top: 310px;
  left: 11px;
  padding: 15px 0 11px 16px;
}

#MemoriaEquip #equipInfo .skillTitle p
{
  font-size: 16px;
  line-height: 28px;
}

#MemoriaEquip #equipInfo .skillIcon
{
  position: absolute;
  left: 210px;
  top: 214px;
}

#MemoriaEquip #equipInfo .skillIcon img
{
  width: 70px;
  height: 70px;
}

#MemoriaEquip #equipInfo .skillDescription
{
  width: 346px;
  position: absolute;
  top: 364px;
  left: 24px;
  line-height: 18px;
}

#MemoriaEquip #equipInfo .caution
{
  position: absolute;
  bottom: 20px;
  left: 6px;
  width: 368px;
  text-align: center;
  font-size: 14px;
}
